[2019-12-18 13:59] mbernstein-netsuite opened #12 "JDK Error windows linux subsystem Ubuntu"
Hello, I am a netsuite employee and am trying to create a new account customization project with the following command:
[code]

Returns Error:
[code]
I have installed JDK 8 and 11 but am still receiving the error.

[2019-12-18 14:50] davidecorreu commented on #12
Looks like you don't have java in the path.  You can check it going to a terminal and typing `java -version`
You should see something like:
 `java version "1.8.0_221"`
`Java(TM) SE Runtime Environment (build 1.8.0_221-b11)`
`Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)`

[2019-12-18 14:53] mbernstein-netsuite commented on #12
$ java -version
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-8u232-b09-0ubuntu1~18.04.1-b09)
OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

It is showing it's in the path

[2019-12-18 16:43] #12 closed

[2019-12-18 16:45] margabit commented on #12
@mbernstein-netsuite the issue is fixed in the `master` branch. Please try again.
Consider using the interactive mode for better experience:
[code]
Thank you

[2019-12-23 12:32] naren2k6 opened #16 "Enhance the Error Message for 'scloud deploy' when SDF is not enabled in the Account"
The Node.js CLI does give a meaningful error for the 'scloud setupaccount' command in case the user forgets to enable "Token Based Authentication" feature in the account. (which is good)

However, the Noce.js CLI does not give a meaningful error for the 'scloud deploy' command if the user has forgotten to enable the "SuiteCloud Development Feature" on his account.
The current error message says so

[2019-12-26 17:13] ShawnTalbert opened #20 "Emit the accountid being used"
For those (many) of us that work with multiple netsuite accounts, it would be great if the output of commands clearly indicated which account was being used.

e.g. output "NetSuite Account: 123456789_SB1" or similar as a clear (colorized?) part of the output so we know which account we're about to update/read from.

[2019-12-26 17:17] ShawnTalbert opened #21 "Switching NS Accounts?"
Hello! With the Java CLI, one can direct it's operation to a specific account by using the `-account ####` option.

To deploy the same setup to two different sandboxes it would be very useful if we could do `suitecloud deploy--account 123456_SB1`  then follow immediately with  `suitecloud deploy --account 123456_SB2` to hit sandbox1 and sandbox2, respectively.

I didn't see any such options in via

[2019-12-26 17:32] ShawnTalbert commented on #21
I noticed there is an `account.json` file that I presume is what drives this. I also notice that `AccountDetailsService` seems to be prepared to handle multiple accounts?

[2019-12-26 17:39] margabit commented on #21
The account management is changing quite a lot in the newest version for 20.1 (dev branch). Account setup will be done through browser-based authentication and it will be much easier to work with multiple accounts.
The `account.json` file will be removed and instead we're introducing a new project file that will have a default account for the project. However, it will be possible to change the acc

[2019-12-26 17:42] margabit commented on #20
This is a great suggestion. I think @colivares82 already has a story to improve command output in the backlog.

Tagging this issue as `enhancement` and leaving it open until it is revolved.

[2019-12-26 18:14] ShawnTalbert commented on #21
Thanks Albert! Dare I try out the `dev` branch or should I stay away?

[2019-12-26 18:21] margabit commented on #21
Unfortunately, the CLI will probably not work well since the dev version uses a new jar behind the scenes that is not yet available.

[2019-12-27 18:10] ShawnTalbert commented on #21
OK, well sounds like this functionality is already slated  for 20.1, so will close this ticket.  It would be nice to be able to run the latest on DEV, understanding it's the work-in-progress branch of development.

[2019-12-27 18:10] #21 closed

[2020-01-07 11:33] stevegoldberg opened #23 "setupaccount task fails if password contains a bracket "(""
Requirements: Have a user account set up where the user's password contains a bracket (aka parenthesis).

STR:
1. Run `suitecloud setupaccount`
2. When prompted with `Do you want to issue or save a TBA token?`, select `Issue a token`.

Expected result: the wizard continues normally

Actual result: an error is returned: `/bin/sh: -c: line 0: syntax error near unexpected token '('`

Full log:
[code]

[2020-01-07 12:34] margabit commented on #23
Thanks for reporting this, Steve!
We are implementing a new authentication flow for the next major release that will not require users to input the password in the CLI. Instead, the user will setup the account using browser-based authentication (oAuth). The `dev` branch has the new implementation already.
Then, this problem should be resolved for the Node.js CLI in the next major release, planned

[2020-02-19 18:10] stevegoldberg opened #46 ""Permission Violation: You need the 'Web Site Management' permission to access this page." Error when deploying – permission must be attached directly to user and not by role"
I was a deploying a customisation with a **custcontenttype** record definition and the following error was being returned:

Details: Permission Violation: You need  the 'Web Site Management' permission to access this page. Please contact your account administrator.
File: ~/Objects/custcontenttype_3_t1358593_472.xml
Object: custcontenttype_3_t1358593_472 (cmscontenttype)

I checked the user I was u

[2020-02-19 18:37] alii-gator commented on #46
@stevegoldberg This is not an issue coming from the tool itself but server side de. which role were you using? Developer role? If it was the developer role then the team responsible for this is already working on it.

[2020-02-19 18:57] stevegoldberg commented on #46
I am using the developer role as one of the roles, but I also attached another custom role to my user which specifically had that permission and it wasn't being respected.

I figured it would probably be a server-side thing, but I wanted to check as I don't know if there's some code in the tool that checks roles/permissions. I'll close the issue, and you can delete it if you want.

[2020-02-19 18:57] #46 closed

[2020-03-03 20:44] jtraugott opened #56 "Fails when issuing tokens"
Process fails when issuing tokens for a netsuite account. 'SDK exited with code 127 command not found'

![image](https://user-images.githubusercontent.com/59929927/75817694-40e03a80-5d5d-11ea-8702-a3a020df4cee.png)

[2020-03-04 17:38] vic-nik commented on #56
Hello @jtraugott ,
Thank you for your feedback!
From your screenshot I understand you are using the code from master branch that has code for 19.2 version which was not officially released, this code is outdated, all active development happens in /dev branch.
We will officially release 20.1 version of suitecloud-cli in npmjs.com in the following weeks, the latest code will be merged into master th

[2020-03-04 17:38] #56 closed

[2020-03-04 17:46] vic-nik commented on #23
Hello Steve @stevegoldberg,
Thank you for your feedback!
I understand you are using the code from master branch that has code for 19.2 version which was not officially released, this code is outdated, all active development happens in /dev branch.
We will officially release 20.1 version of suitecloud-cli in npmjs.com in the following weeks, the latest code will be merged into master then.
If you w

[2020-03-04 17:46] #23 closed

[2020-03-24 13:19] alii-gator commented on #16
Fix is available in master branch.

[2020-03-24 13:19] #16 closed

[2020-03-25 14:33] omrilit opened #81 "Support account:setup in a non interactive mode"
Currently the account:setup command is marked with a _forceInteractiveMode_ flag.
It would be great if it will support also a non interactive mode to enable calling it using JS in one shot.

[2020-03-25 14:38] alii-gator commented on #81
This feature enhancement is already under consideration. We are currently evaluating different options/approaches. Thanks for bringing this up.

[2020-03-31 07:30] omrilit commented on #81
@alii-gator do you have any rough estimation when it will be implemented?

[2020-04-02 11:18] alii-gator commented on #81
@omrilit Unfortunately at this point we are not able to give any estimate. But it's something we are actively looking into. So stay tuned for any updates on this.

[2020-04-03 14:01] hntejas opened #86 "Add stubs for all native Suitescript N/ modules."
Hi maintainers,

request you to add stub support to all existing suitescript N/ modules.

Thanks

[2020-04-03 14:09] alii-gator commented on #86
@hntejas Thanks for bringing this up. This is already on our roadmap, but this will not happen at once. The stubs will be added gradually.
In mean while you can add custom stubs of the modules you use heavily. The information is provided on how to do that in read.me files and NS help docs.

[2020-04-03 14:13] hntejas commented on #86
@alii-gator Thanks for the info. We are using custom stubs. I will look forward to the future release for stubs.

[2020-04-03 14:13] #86 closed

[2020-04-04 09:18] lincecumHao opened #87 "How should I compare code with account version"
Just trying this, not sure how can I compare with existing code in File Cabinet.
Will this feature support in the future or any other alternative?

[2020-04-06 22:08] timothy-o-johnson opened #88 "getting a null pointer error when deploying project to account"
Does moving the project files into the 'src' folder in step two impact how the project is deployed?

I'm getting the following error:

'!MESSAGE Internal error encountered (Null pointer exception).'

[2020-04-06 22:15] alii-gator commented on #88
@timothy-o-johnson All your suitecloud project files should be under src folder. You can create a project by the cli and see the project structure created, then you can convert any of your old projects according to the same project structure if this is what you are trying to do.
src folder is set as your default project root, which can be changed in suitecloud.config.js
But any how can you provide

[2020-04-07 15:11] timothy-o-johnson commented on #88
wow, thanks for the prompt response @alii-gator . i'm actually using the SDF to deploy to my account. i'm right clicking the it doesn't provide much info for the error. I'll send an image of how it's laid out and a reading of the log.

Here's what I click:
![image](https://user-images.githubusercontent.com/13969159/78685542-7ece0280-78b7-11ea-9244-a0c4389107a9.png)

Here's the error:
![image](http

[2020-04-07 15:19] alii-gator commented on #88
@timothy-o-johnson Actually disregard what i said, Since this space if for suitecloud CLI for NodeJS, i assumed you were getting NPE while using this.
Apparently you are using Eclipse. I will suggest you to use NodeCLI or if you preffer IDE you can try WebStorm plugin of Suitecloud.

If you want to use Eclipse, the supported version is Mars 2, and open the project where "src" is root, so you have

[2020-04-07 15:24] timothy-o-johnson commented on #88
Excellent! Again thanks for the prompt reply. I'll give this ideas a shot.  Thank you!

[2020-04-13 13:24] omrilit opened #91 "Node.JS 13 doesn't work due to node-sass dependency"
As stated in the attached screenshot (taken from https://www.npmjs.com/package/node-sass), the node-sass version used in the project, 4.12.0, doesn't support node 13. ![image](https://user-images.githubusercontent.com/9881966/79123476-ee099200-7da2-11ea-9443-a17164f77616.png)

[2020-04-15 11:44] #88 closed

[2020-04-15 11:46] vic-nik commented on #87
Thank you for the feedback. File comparison is not supported by suitecloud-cli and there's no plan to implement this feature in CLI at this point. File comparison is supported by our WebStorm and Eclipse plugins.

[2020-04-15 11:46] #87 closed

[2020-04-16 22:05] dylan-glenn opened #93 "Support log file generation for project:validate and project:deploy"
In the Java version of the SuiteCloud CLI, the validate and deploy commands support the option to generate a log file to a specific directory.

Does the Node.js version support this functionality? If so, how is it achieved? If not, is this on the roadmap for this tool?

[2020-04-20 23:32] Nic-Wolf opened #95 "file:import -i Stuck loading File Cabinet folders indefinitely"
Starting a new project, and trying to load all existing scripts from the default SuiteScripts/ location.
[code]
This never actually finishes loading. Ran it a number of times, and it'll just get stuck here for at least an hour. There's only about 3MB of files in there, so I don't think it's an issue with the folder size.

[2020-04-20 23:54] alii-gator commented on #95
Hi @Nic-Wolf can you please mention the environment where you are running this command?
OS, Node version?
The account is production?

[2020-04-21 10:50] vic-nik commented on #93
@dylan-glenn Thank you for the feedback.
This is not currently supported by SuiteCloud CLI but we are considering adding log option to project:deploy and project:validate commands. We will keep this issue open until we have more updates on the progress.

[2020-04-21 14:12] petterolsen opened #97 "--excludefiles flag on Object import is ignored"
The --excludefiles seems to be ignored on object import.
The following command still produces imports of associated Javascript files. Order of parameters have been tested unsuccessfully.

[2020-04-21 14:44] dylan-glenn commented on #93
Thanks for the response!

For those interested, I was able to replicate this functionality with a custom bash script.

[2020-04-21 15:07] dylan-glenn opened #100 "Support deployment preview"
In the Java version of the SuiteCloud CLI, there is a preview command that allows you to preview all of the deployment steps for an SDF project.

The key aspect of this functionality for our current processes is the ability to view all of the Objects/Files that will be uploaded/updated in the destination account.

Does the Node.js version support this functionality? If so, how is it achieved? If n

[2020-04-21 15:08] alii-gator commented on #97
@petterolsen Thankyou for the feeback
We are looking into it and hopefully will update you as soon as we have some new about it.

[2020-04-21 23:15] NSAcctFinder opened #102 "suitecloud account:setup fails on case of letters in account ID"
I was trying to stand up a new SDF project. My Account ID is  like "tstdrv1234567".

First attempt failed, when I specified that account ID as NetSuite shows it in the URL bar in my browser - with tstdrv in lower case letters.

`
C:\workspaces\test-cli\test-cli>suitecloud account:setup
? Select an authentication method: Save a TBA token issued in NetSuite.
? Enter an authentication ID (authID): au

[2020-04-22 11:25] vic-nik commented on #100
This is not currently supported by SuiteCloud CLI and there's no plan to introduce this command at this point. We will consider adding this feature and will keep this issue open until we have more updates.

[2020-04-22 12:03] alii-gator commented on #102
Thanks for bringing it up @NSAcctFinder
This is something which can be handled at CLI level. We are looking into it.
Will update you as soon as we have any new about it.

[2020-04-22 17:41] Nic-Wolf commented on #95
Yes, I'm attempting this in production. I still have the release preview, and I'm getting the same results there as well.

Windows 10 Enterprise, (64 bit) build 18362
Node v12.16.1
NPM v6.13.6
Java v11.0.7

For the console, I'm using cmder, but I get the same results in powershell. Running both as admin.

[2020-04-23 14:48] alii-gator commented on #95
@Nic-Wolf The environment setup looks good.
Are you working behind any proxy?
All the commands are the same for you or its just **file:import** which is not working.

[2020-04-27 17:59] Nic-Wolf commented on #95
Well, I know someone's doing something out there, since I'm now getting an unexpected error instead of an eternal loading message...
[code]
I should clarify: **file:import** works when the **--paths** parameter contains a specific file. The error occurs when using **-i**. It's not feasible for me to specify each file, nor is it feasible to write a ps script to dive through the whole SuiteScripts f

[2020-05-06 06:27] bretislav commented on #81
any update on this please?

[2020-05-06 06:27] adamkundrat commented on #81
this is very stupid, I don't understand how you could not consider it in an initial stage. It makes the tool useless for any automation tool.

[2020-05-06 16:37] grugknuckle opened #112 "Need to switch Accounts from CLI"
This is request for an enhancement or an explanation of how to use a hidden feature.

When using the CLI tool, I am unable to control which NetSuite account the CLI is communicating with. For example, I need to be able to do things like the following ...

`suitecloud object:import --type ALL --account <my SANDBOX account id>`

and then

`suitecloud project:deploy --account <my PRODUCTION account i

[2020-05-06 21:05] 0xbboyd opened #113 "Unable to list plug-in implementations"
### Your environment
**OS** : Fedora 31
**Node.js version** : 12.16.3
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : zsh

### Describe the bug
The cli does not list plug-in implementations that are visible in the account UI.

### To Reproduce
Steps to reproduce the behavior:
1. suitecloud object:list -i
2. Do you want to list all object types? No
3. Select the object types you want to

[2020-05-07 09:08] ori-moisis opened #115 "security vulnerabilities in localserver-cli-command dependency"
The [localserver-cli-command package](https://github.com/oracle/netsuite-suitecloud-sdk/blob/master/extensions/localserver-cli-command/package.json) depends on a specific and old version of the package 'handlebars'.
That old version has a dependency on the discontinued `optimist` which uses a package called `minimist` that has a [known security vulnerability](https://github.com/advisories/GHSA-vh9

[2020-05-07 10:32] alii-gator commented on #112
Hi @grugknuckle
account.json is deprecated. That was before we officially released.

Now the file which is used to contain the default project is called `project.json`
This file will be automatically generated if you run `suitecloud setup:account` and then you will have 2 options.

- Select one of the exisiting authid
- Complete the authentication flow

Everytime you want to change the default acc

[2020-05-07 10:36] alii-gator commented on #112
You can find this information in read.me file of suitecloud-cli.
Please try it out, and if you any doubts let me know. once you confirm it's working for you, i will close this issue.

[2020-05-07 10:39] alii-gator commented on #113
@firemound Thanks for the detailed explanation.
I am checking it and will get back with more information/questions soon.

[2020-05-07 10:43] alii-gator commented on #115
Thanks @ori-moisis for bringing this up.
Surely we will look in to this Asap.

[2020-05-07 11:18] alii-gator commented on #113
@firemound
I think there is a mis match in the objects **type** you are trying to list and the ones in account.
Can you select all plugin options in **step 3** and see if the ones listed in screenshot from UI, appear, and if they do what is the type?

[2020-05-07 11:53] grugknuckle commented on #112
Thank you @alii-gator. There was some initial confusion about the authId naming. But it's working now. Is there a way to remove / rename existing roles for an existing project?

[2020-05-07 22:52] alii-gator commented on #112
@grugknuckle this feature is under development. Hopefully should be available in next release.
If your original question is resolved i will close this issue. If you have anu further problems please open a new issue.

[2020-05-07 22:52] #112 closed

[2020-05-07 22:57] alii-gator commented on #95
@Nic-Wolf I have tried with similar environments and its working for us.
If you are having the same problem, we can have a quick call to check it.

[2020-05-08 00:24] firemound commented on #113
Hi @alii-gator, as you can see, only the plugin type is listing — not the plugin implementations.

![Selection_268](https://user-images.githubusercontent.com/1747303/81357047-8edc2c00-9087-11ea-8a9e-b628248385fb.png)

Thanks for the follow up.

[2020-05-08 00:55] firemound commented on #113
Selecting all plugin types, the plugin implementations are missing:

![Selection_269](https://user-images.githubusercontent.com/1747303/81358614-e2e90f80-908b-11ea-9e76-e8f0af0a7955.png)

[2020-05-08 01:00] alii-gator commented on #113
@firemound is there any chance that the expected plugin implementation objects were deployed with a suiteapp?

[2020-05-08 08:19] colivares82 commented on #81
@omrilit , this is already in our backlog and it will be as soon as we can deliver it, this is the first iteration of this tool and we are working to improve the experience. Thank you for sharing this need, it definitely validates implementation and it will be there.

[2020-05-08 08:21] colivares82 commented on #81
@bretislav , We will release the update as soon as we get it done. We are working in our release cycles and since this is the first time for us to expose a product as open-source, we still need to align some processes before pushing changes as fast as it might be expected. Thanks for the patience, we will improve in time.

[2020-05-08 08:27] colivares82 commented on #81
@adamkundrat I guess that you can read what I expose above, and please the next time do not refer to our efforts as something stupid. If you have questions or suggestions, they can be done in another tone.  For what it worth, this is the first version of something completely new and we are aware of this opportunity of improvement, it will be solved as soon as possible.

[2020-05-08 11:41] firemound commented on #113
1. No, they are all part of an account customization project and not part of a bundle.
2. Yes, I'm able to download objects using this authid that currently only exist in our sb1 account.
3. Yes, that is correct, only 6 results are shown. The next line is cut off because I had executed more commands after these results printed out.

[2020-05-15 19:31] colivares82 commented on #91
Thank you @omrilit.

[2020-05-15 19:35] colivares82 commented on #91
To be considered when Node Version gets updated as our dependency

[2020-05-15 19:35] #91 closed

[2020-05-15 19:35] colivares82 commented on #95
@Nic-Wolf Hello, would you want to have a quick call to go over the process and identify the case?

[2020-05-25 14:25] omrilit opened #124 "project:adddependencies command adds features that doesn't exist"
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 13.13.0
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
project:adddependencies command adds features that doesn't exist.
For example, when editing a transactionForm, the following features are added as a dependency:
`NOTTAX_OVERHAULING`, `VATNOTTAX_OVERHAULING`, `DOCUMENTS`, `VATORTAX_

[2020-05-25 14:46] alii-gator commented on #124
@omrilit we are checking it, will get back to you soon with our findings.

[2020-05-27 06:54] omrilit opened #127 "Saved search records are not usable"
When importing savedsearch records, their definition field is generated to a different value every run.
Is it on purpose? If so, why even expose it in the SDF project if the user can't read/edit it?

[2020-05-27 07:17] omrilit opened #128 "project:adddependencies command doesn't add required features to the manifest for workflow records"
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 13.13.0
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
project:adddependencies command doesn't add required features to the manifest for workflow records.

### To Reproduce
Steps to reproduce the behavior:

Add the attached workflow XML to the project - [customworkflow1.txt](https://gi

[2020-05-29 11:32] alegomez commented on #102
Hi there, I've been struggling to find the authID, @NSAcctFinder could you point me in the right direction?
cheers!

[2020-05-29 11:45] alii-gator commented on #102
@alegomez authid is a user defined string. Just like an alias for the token.

[2020-05-29 12:05] alegomez commented on #102
thank you very much indeed, I reckon my authentication problem lies somewhere else.
cheers

[2020-05-29 13:35] alegomez commented on #102
I'm currently using the "account ID" found under Setup > Company > Company Information and the same token ID and token secret as in every SOAP request (and RESTLets for that matter)... sadly the token cannot be validated, any ideas?

[2020-05-29 14:06] alii-gator commented on #102
@alegomez You need to check following 2 things

1. when you generate the token from UI, are you selecting this application -> "Suitecloud Development Integration"
![image](https://user-images.githubusercontent.com/28846677/83268515-081df900-a1c6-11ea-9670-9933380597c9.png)
2. The accountID, doest it contain any aplhabets? if YES then when you input it in cli, make sure its in upper case.

[2020-05-29 19:37] grugknuckle opened #132 "SubList <neverEmpty> field is invalid or not supported."
OS: Windows 10
Node.js version: e.g. 12.16.1 LTS
suitecloud-cli version: 1.0.4

### Describe the bug
The CLI validation doesn't handle the <neverEmpty> field of sublists during project validation.

### To Reproduce
1. use 'suitecloud account:setup` to login into any account.

2. then use `suitecloud object:import -i` to import into the SDF projcect any custom entry form which has an entry in the s

[2020-05-30 06:04] alegomez commented on #102
That did the trick, thanks a lot!
cheers!

[2020-06-07 12:21] omrilit opened #135 "Bundles Support In SDF"
In Netsuite documentation it's written that SDF Java CLI has an importbundle command (https://<ACCOUNT_ID>.app.netsuite.com/app/help/helpcenter.nl?fid=section_4788674233.html).
Is there any intention to support it also in SDF JS wrapper?

[2020-06-08 13:28] colivares82 commented on #135
Hello @omrilit, At the moment we have no plans to implement any bundle related enhancement, we will keep an eye on this request, but for the short term I would suggest that if you have that need, then use the SuiteCloud CLI for Java (as you mentioned)

[2020-06-08 13:29] #135 closed

[2020-06-08 17:59] colivares82 commented on #132
Thanks for reporting this detailed case @grugknuckle , we will investigate and reproduce and I´ll get back to you.

[2020-06-10 08:31] colivares82 commented on #127
Hello @omrilit ,  I am not 100% this is the only reason, but I think the value is different because the export includes some timestamp when is exposing the representation. At any case, this is something that we can not control in the tools.
Since this is something that is outside of our scope, I will close the issue.

[2020-06-10 08:31] #127 closed

[2020-06-10 08:33] colivares82 commented on #128
Thanks for reporting @omrilit , we will take a look into it

[2020-06-10 12:09] AntondegSTX opened #138 "Null pointer exception"
When doing a project:validate I am getting this error.
Internal error encountered (Null pointer exception).
[morgancargo.zip](https://github.com/oracle/netsuite-suitecloud-sdk/files/4758310/morgancargo.zip)

[2020-06-11 05:22] AntondegSTX commented on #138
suitecloud --version = 1.0.4
Node -v = v13.10.1

[2020-06-11 12:05] omrilit opened #139 "Standard Developer role has insufficient permissions"
### Your environment
**OS** : e.g. iOS Catalina 10.15.4
**Node.js version** : e.g. 14.14.4
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
When using the **Developer** role:
1. The _object:import_ command doesn't return workflow records.
2. The _file:import_ fails on `Details: Access denied. No extension allowed access.`

### To Reproduce
Follow the instruct

[2020-06-11 13:22] omrilit opened #140 "Setup account fails for accounts with tstdrv prefix"
### Your environment
**OS** : e.g. iOS Catalina 10.15.4
**Node.js version** : e.g. 14.14.4
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
When trying to use account:setup for a developer account that starts with **tstdrv** it fails on:
`The token could not be validated. The authentication details are not valid or the server could not respond. Review your au

[2020-06-11 13:26] alii-gator commented on #140
@omrilit its a known behavior.
If you check your accountID it's in upper case. Like TSTDRV12345
So for now you have to use upper-case letters with your accountID.

We are planning on improving this in future releases, if a user provides lower case letters they will be converted to upper case automatically.

Try new with upper case letter and let us know if it works.

[2020-06-11 17:33] omrilit commented on #140
@alii-gator thanks, it indeed works when using uppercase.

[2020-06-11 17:33] #140 closed

[2020-06-16 10:47] omrilit opened #143 "Warnings for entryForm: Invalid Custom Object being loaded"
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 14.14.4
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
When importing objects in ACCOUNTCUSTOMIZATION project I receive a lot of warnings for **entryForm:custform_73_t1441298_782 Failed: Invalid Custom Object being loaded**

### To Reproduce
1. Run suitecloud project:create -i (use ACC

[2020-06-16 10:48] omrilit opened #144 "Warnings for centertab: centertab:custcentertab40 Failed: That record does not exist."
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 14.14.4
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
When importing objects in ACCOUNTCUSTOMIZATION project I receive a lot of warnings for **centertab:custcentertab40 Failed: That record does not exist.**

### To Reproduce
1. Run suitecloud project:create -i (use ACCOUNTCUSTOMIZATIO

[2020-06-18 08:28] omrilit commented on #124
@alii-gator any updates on this one?

[2020-06-18 08:28] omrilit commented on #128
@colivares82  any updates on this one?

[2020-06-26 14:06] alii-gator commented on #144
@omrilit This seems like a problem with server side, but we will look in to this to know the exact problem.

[2020-06-26 14:07] alii-gator commented on #143
possibly related to #144

[2020-06-26 14:12] alii-gator commented on #139
@omrilit Unfortunately this is definitely not a problem with the tool itself. Please create an issue with Netsuite. We can't deal with this here.
Thanks for understanding.

[2020-06-26 14:12] #139 closed

[2020-06-26 14:30] alii-gator commented on #138
@grugknuckle @AntondegSTX we have started looking in to the reported issue, thanks for the patience. We will update you ASAP.

[2020-06-26 14:36] alii-gator commented on #124
@omrilit We have started working on this at priority bases. We will have update soon.

[2020-06-26 14:39] alii-gator commented on #97
@petterolsen This is fixed and will be available hopefully in our upcoming release.

[2020-06-26 14:41] alii-gator commented on #93
@dylan-glenn This is fixed and hopefully will be available in our upcoming release.

[2020-06-26 15:06] petterolsen commented on #97
Great news!

[2020-06-30 11:13] omrilit opened #152 "Impossible to import all files when having a locked file"
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 14.14.4
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
When calling file:import and marking all files it fails due to:
`Error: You cannot download the XML file for this object because it is locked.`
Unlike object:import, where you can pass `ALL` as an argument and then the locked files

[2020-06-30 21:08] alii-gator commented on #152
@omrilit
I believe you are having this problem when executing the command in `non interactive` mode. Since there is no way `in non-interactive` mode to know before hand if the files is locked or not when sending the parameters, we expect the file import to fail but it should fail gracefully and not interrupt the valid/unlocked files.
We will have a look into it.

This is the reason in `interactive

[2020-07-01 06:30] omrilit commented on #152
Thanks @alii-gator. Just pay attention that the issue is also reproduced in interactive mode.

[2020-07-07 07:15] omrilit opened #156 "entryForm recordType value is inconsistent"
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 14.14.4
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : iTerm2

### Describe the bug
When importing a certain entryForm, there is inconsistency in the recordType value is has.
Sometimes **MARKUPITEM** is returned and sometimes **DISCOUNTITEM**.
[custform_11_2239021_974.txt](https://github.com/oracle/netsuite-suitec

[2020-07-07 14:24] stephen-suiterep commented on #132
This behavior occurs in the Eclipse plugin as well. Would love to see this issue resolved!

[2020-07-08 12:59] omrilit commented on #128
@colivares82 any updates on this one?

[2020-07-09 10:07] alii-gator commented on #156
@omrilit This is not a problem related to the tool. It should be reported to netsuite custoemr support so they can forward it to relative team.

[2020-07-09 10:42] omrilit opened #160 "File Cabinet Folder Restriction"
Importing File Cabinet files is supported only from the following folders:
/Web Site Hosting Files/
/SuiteScripts/
/Templates/E-mail Templates/
/Templates/Marketing Templates/
(Taken from https://<ACCOUNT_ID>.app.netsuite.com/app/help/helpcenter.nl?fid=section_4724963992.html)

Is supporting importing files from all folders in your pipeline?
Many customers have vital files under other directories.

[2020-07-09 10:53] alii-gator commented on #160
@omrilit This is a limitation from server side, If you think other FileCabinet folders should also accessible through tools for importing purpose, you should request a feature enhancement through Netsuite Customer support.

cc @colivares82 FYI

[2020-07-09 10:53] #160 closed

[2020-07-10 10:32] naren2k6 opened #161 "As soon as you fire suitecloud project:deployDisplay the Account Name or Account ID to which the SDF CLI is abou"
### Your environment
**OS** : e.g. iOS Mohave 10.14.6 /Windows 10/Ubuntu 16.04
**Node.js version** : e.g. 12.14.1
**suitecloud-cli version** : Run `suitecloud --version` to check the version
**Terminal/CMD tool** : e.g. PowerShell/WebStormTerminal/VSCodeTerminal/iTerm

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Run

[2020-07-10 10:36] naren2k6 opened #162 "As soon as you fire "suitecloud project:deploy" , kindly display the "Account Name" or "Account ID" of the NetSuite account to which the CLI is about to deploy"
![image](https://user-images.githubusercontent.com/11972740/87145417-e59ff500-c2c6-11ea-9ad5-cf8d34826ed5.png)

Look at the picture above ,
It would be good if the Account Name or Account ID is included in the text "Deploying ....."

This is needed because its makes it easier for the  developer who may is working parallely  on multiple accounts , without having to do "account:setup" everytime  to

[2020-07-10 10:50] alii-gator commented on #162
@naren2k6 sure, we have discussed it internally. Sounds reasonable. Will bring this up with the team. Thanks

[2020-07-10 10:51] alii-gator commented on #161
@naren2k6 it the duplicate of #162?

[2020-07-10 11:17] #161 closed

[2020-07-13 08:15] #156 closed

[2020-07-13 08:17] alii-gator commented on #162
This is a duplicate of #20
The suggestion is already under consideration so i will close this issue as we already have issue for this.

[2020-07-13 08:17] #162 closed

[2020-07-21 20:35] dspadea-9w commented on #124
Another for the investigation:

project:validate told us:

 Line No. 1 - Error Message: The following dependencies are missing from the manifest.xml file: [Feature - WMSSYSTEM:required]

But upon adding it via project:adddependencies:

 Error Message: The "WMSSYSTEM" feature defined in the manifest does not exist.

[2020-07-21 20:44] dspadea-9w opened #173 "Error Message: The attribute "position" is invalid, no attributes are expected."
### Your environment
**OS** : Macos Catalina
**Node.js version** : v14.5.0
**suitecloud-cli version** : 1.0.4
**Terminal/CMD tool** : iTerm2

### Describe the bug

Custom Entry Form extracted from account via object:import generates <fields> entry with `position="MIDDLE"` attribute that looks like:

[code]

This causes `project:validate` to produce the following error:

[code]

### To Reproduce
St

[2020-07-21 20:51] dspadea-9w opened #174 "Error Message: Invalid "recordType" reference key "FORMATPROFILE""
### Your environment

**OS** : Macos Catalina
**Node.js version** : v14.5.0
**suitecloud-cli version** : 1.0.4
**Terminal/CMD tool** :iTerm2

### Describe the bug
The following XML snippet was built using the NetSuite UI and extracted via `object:import`:

[code]

`project:validate` produces the following error message:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Run suitecloud p

[2020-07-21 21:09] dspadea-9w opened #175 "Feature Request: Add --skip-validation option to project:deploy"
We're in a bit of a bind where there seem to be validation issues on the project, even when the object XMLs were generated by the NetSuite UI and pulled right out of the account via `object:import`. We can't proceed with these errors, even though the XMLs are probably just fine.

It'd be great if we could either skip validation, or override for a list of validation types and continue to use the CL

[2020-07-22 21:03] alii-gator commented on #175
@dspadea-9w Thanks for bringing this up.
We will consider this enhancement request for non interactive mode.
But you can already use this functionality in interactive mode.
When you execute `suitecloud project:deploy -i` you can skip local validation.
Apart from that we know the problems with locall Validations and we are working with relevant teams to make that better.

[2020-07-22 21:04] alii-gator commented on #174
@dspadea-9w we will check this and get back to you with our investigation.

[2020-07-22 21:06] alii-gator commented on #152
@omrilit just an update, we are already working on the fix. Hopefully we will roll out the fix with upcoming major release.

[2020-07-22 21:08] alii-gator commented on #138
@AntondegSTX just an update, we are already testing the fix for this unexpected behavior reported by you. Hopefully we will roll out the fix with upcoming major release.

[2020-07-22 21:10] alii-gator commented on #132
@grugknuckle @stephen-suiterep just wanted to give you an update in the reported issue.
This has already bin fixed and we are testing the solution. Hopefully we will role out the fix with upcoming major release.

[2020-07-22 21:12] alii-gator commented on #128
@omrilit We are testing the fix, hopefully the fix will be included in the upcoming major release.

[2020-07-22 21:14] alii-gator commented on #102
@alegomez we have improved this.
The tools will handle this automatically.
Hole fully in the upcoming versions you will see the improvements.

[2020-07-22 21:16] alii-gator commented on #173
@dspadea-9w Thanks for reporting this. We will check the behavior.

[2020-07-22 21:26] dspadea-9w commented on #175
Thank you @alii-gator! FYI, I tried it and still received validation errors, maybe from server-side validation?

[code]

[2020-07-22 22:24] alii-gator commented on #175
@dspadea-9w this is server side validation.
You can never skip that. Even when you do local validations, server side validation is always performed.
In this case the validation shown is not correct or we can say false positive. Which will be fixed soon in upcoming release.
If you remove the neverEmpty tag, you will be able to pass this validation.

[2020-07-23 06:29] omrilit commented on #128
Thanks for the update @alii-gator

[2020-07-23 06:29] omrilit commented on #152
Thanks for the update @alii-gator

[2020-07-30 17:49] ShawnTalbert opened #181 "Importing roles contains duplicate values which fail at validation time."
### Your environment
**OS** : Ubuntu 18.04 (WSL)
**Node.js version** : 12.16.2
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : e.g. WSL in webstorm

### Describe the bug
Importing roles can result in duplicate elements in the XML file related to permissions which result in validation errors.

The following snippet from a role xml file imported with suitecloud:
[code]
results in the foll

[2020-07-30 18:12] ShawnTalbert opened #182 "`adddependencies` command may result in invalid manifest.xml"
### Your environment
**OS** :  Ubuntu 18.04 (WSL)
**Node.js version** : 12.16.2
**suitecloud-cli version** : 1.0.2
**Terminal/CMD tool** : Webstorm terminal (WSL)

### Describe the bug
running `project:adddependencies` results in the following element added to the `<objects>` dependency list in `manifest.xml`:
[code]

Subsequently running `project:validate` results in the following error:
[code]

[2020-07-30 19:30] alii-gator commented on #182
@ShawnTalbert can you please update the cli to the latest 1.0.4 version. We fixed a similar issue to what you have described in the latest release available.
So it would be interesting to see if you can reproduce it or not.

[2020-07-30 19:33] alii-gator commented on #181
@ShawnTalbert we will look in to this unexpected behavior. Taking a quick look this seems like an issue with server side and not with the tool itself.

[2020-07-31 16:29] ShawnTalbert commented on #181
yes, note that I'm doing server-side validation for all these issues.

[2020-07-31 16:39] ShawnTalbert commented on #182
OK great. it looks like 1.0.4 no longer adds those funky dependency objects to my manifest, but it still adds invalid features, as shown below:
[code]
But I think that's being fixed by another issue?

[2020-07-31 16:47] ShawnTalbert opened #183 "imported custom role can result in validation failure in the permissions section."
### Your environment
**OS** : Ubuntu 18.04 WSL
**Node.js version** :  12.16.2
**suitecloud-cli version** : 1.0.4
**Terminal/CMD tool** : webstorm terminal WSL

### Describe the bug
Custom role XML created by importing using SDF results in failure when you turn around and validate project against same account.

imported role XML does include elements such as
[code]

### To Reproduce
Steps to reprod

[2020-07-31 16:58] ShawnTalbert opened #184 "validation errors on permissions between roles and records."
### Your environment
**OS** : Ubuntu 18.04 (WSL)
**Node.js version** : 12.16.2
**suitecloud-cli version** : 1.0.4
**Terminal/CMD tool** : webstorm WSL

### Describe the bug
I have unmodified custom records and custom role definitions imported into project.

It appears custom records don't contain the reference to custom roles? I'm seeing many errors similar to the following:

[code]

### To Reprod

[2020-07-31 17:00] alii-gator commented on #182
@ShawnTalbert Yes this will be fixed with #124
So seems like updating to the latest version fixed the originaly mentioned issue, i will close this issue.

BTW you can just remove these invalid feature from manifest and the project will be deployed without any issue. This is more like a work around for now.

[2020-07-31 17:00] #182 closed

[2020-07-31 17:01] ShawnTalbert commented on #184
Also, as a workaround, how exactly do I manually edit the *custom record* XML to properly reference the *custom role*?

I think that's the missing/broken piece, and would prefer to do that rather than remove the permission from the role altogether.

[2020-07-31 17:32] ShawnTalbert commented on #184
one thought - could this be an issue with **inactive** roles? A role can be marked inactive and apparently still appear on the permissions list for a custom record in the UI.... but does SDF simply not pull down/generate XML for inactive roles when creating the custom record definition XML?

[2020-08-07 09:45] cja-github opened #185 "Error on `npm install -g @oracle/suitecloud-cli`"
### Your environment
**OS** : Windows 10
**Node.js version** : 14.7.0
**suitecloud-cli version** : Not installed
**Terminal/CMD tool** : cmd.exe

### Describe the bug
I ran `npm install -g @oracle/suitecloud-cli` and it errored. See attached log.

### To Reproduce
Steps to reproduce the behavior:
1. Run `npm install -g @oracle/suitecloud-cli`
[2020-08-06T16_58_38_302Z-debug.log](https://github.com

[2020-08-14 12:53] webdevelopersdiary opened #188 "An error occurred during custom object creation/update"
### Your environment
**OS** : Ubuntu 18.04.4 LTS
**Node.js version** : v12.18.3 LTS
**suitecloud-cli version** : 1.0.4
**Terminal/CMD tool** : Gnome Terminal

### Describe the bug
When deploying a SuiteApp with transaction body fields (or custom record fields) that have a formula as a default value which contains a CASE expression, then `suitecloud project:deploy` fails with an error, even though

[2020-08-25 12:41] alii-gator commented on #188
@webdevelopersdiary
This doesn't seem like a problem with the tool.
Please open an issue with netsuite technical support.

[2020-08-26 19:29] #188 closed

[2020-08-26 19:32] alii-gator commented on #185
@cja-github This problem might be fixed with some changes we have made in upcoming release.
Please try to install the newer version and give your feedback if you still face the same issue.
The newer version will be available around early next week.

[2020-08-26 19:35] alii-gator commented on #184
@ShawnTalbert We have made some improvements in local validations but still there are some pending issues, please try the same in newer version **early next week** and let us know if you experience the same problem.
Will update you when we release the newer version. I will keep this issue open so you can give your feedback

[2020-09-01 12:56] grugknuckle commented on #132
@alii-gator - Thanks for fixing it. I came back to this issue because I happened to read this article in the help.

/app/help/helpcenter.nl?fid=section_N2858591.html

Where it states:

"The Never Empty box is not available for all sublists. Only sublists that are listed in the SuiteScript Records Browser are supported."

Which got me thinking that maybe it could be that the object XML generator is

[2020-09-02 12:08] fage789 opened #211 "How do I extends standard modules or modify properties?"
'util.extend' can only help me extends custom objects or modify custom object properties.
That's my way, but I don't think it's good.

[code]
`// Add custom properties`
[code]
[code]

[2020-09-07 12:28] alii-gator commented on #20
@ShawnTalbert
This is now fixed/available in latest version
get the latest npm package version `1.1.0`

[2020-09-07 12:28] #20 closed

[2020-09-07 12:28] alii-gator commented on #81
@omrilit
This is now fixed/available in latest version
get the latest npm package version `1.1.0`
checkout` account:ci` command

[2020-09-07 12:28] #81 closed

[2020-09-07 12:29] alii-gator commented on #93
@dylan-glenn
This is now fixed/available in latest version
get the latest npm package version `1.1.0`

[2020-09-07 12:29] #93 closed

[2020-09-07 12:29] alii-gator commented on #97
@petterolsen
This is now fixed/available in latest version
get the latest npm package version `1.1.0`

[2020-09-07 12:29] #97 closed

[2020-09-07 12:31] alii-gator commented on #102
@NSAcctFinder
This is now fixed/available in latest version
get the latest npm package version `1.1.0`

[2020-09-07 12:31] #102 closed

[2020-09-07 12:32] alii-gator commented on #138
@AntondegSTX
@grugknuckle
This is now fixed/available in latest version
get the latest npm package version `1.1.0`

[2020-09-07 12:32] #138 closed

[2020-09-07 12:36] alii-gator commented on #132
@grugknuckle
I am closing this issue since.
<neverEmpty> should be fixed, let us know if it's otherwise.
do check out the lates node cli version `1.1.0`

[2020-09-07 12:36] #132 closed

[2020-09-07 12:41] alii-gator commented on #128
@omrilit Can you please verify this in latest version `1.1.0`?

[2020-09-07 12:41] alii-gator commented on #124
@omrilit Can you please verify this in latest version 1.1.0?

[2020-09-07 12:43] alii-gator commented on #185
@cja-github Can you install the latest version `1.1.0` and check if you encounter same issue?
If Yes, please do share logs.

[2020-09-08 11:29] bretislav commented on #81
1.1.0 is a massive improvement. Good work and thanks!

[2020-09-08 13:39] grugknuckle commented on #132
Thank you @alii-gator . I'll npm install the latest version and retest.

[2020-09-09 01:43] bretislav opened #227 "Deploy > SuiteTalk concurrent request limit exceeded. Request blocked."
# Environment
**OS** : any
**suitecloud-cli version** : 1.1.0

# Issue Description
When running a deploy using the SuiteCloud SDK, it appears that it uses a SuiteTalk connection as any other integration. This can result in the concurrency limit being exceeded in an account and the deploy to fail hard. The deploy process also does not automatically retry upon such a failure.

# Repro steps
1. Deplo

[2020-09-15 06:39] omrilit commented on #128
The issue remained the same also in 1.1.0

[2020-09-15 08:19] omrilit commented on #124
Seems like this bug is indeed resolved in this version, but the same attached transactionForm still produces some errors upon deploy. I will open a separate ticket on it.

[2020-09-15 08:30] omrilit opened #229 "Deploy transactionForm fails"
### Your environment
**OS** : iOS Catalina 10.15.4
**Node.js version** : 12.18.3
**suitecloud-cli version** : 1.1.0
**Terminal/CMD tool** : iTerm2

### Describe the bug
Failure when deploying transactionForm

### To Reproduce
Steps to reproduce the behavior:
[custform_6_2239021_717.txt](https://github.com/oracle/netsuite-suitecloud-sdk/files/5223505/custform_6_2239021_717.txt)

1. Add the attached

[2020-09-15 10:41] alii-gator commented on #229
@omrilit This error is from server side, please file this issue with NS Technical Support.

[2020-09-15 10:41] #229 closed

[2020-09-15 10:43] alii-gator commented on #185
Closing this issue since there is no response. If you still encounter same or new problems please open the issue again.

[2020-09-15 10:43] #185 closed

[2020-09-15 10:45] alii-gator commented on #124
@omrilit Thanks for confirmation.
Yes, there are some issues still being worked on. Feel free to open the a new ticket.

[2020-09-15 10:45] #124 closed

[2020-09-24 13:01] yuri-urban opened #232 "Fails to install on MacOS Catalina"
### Your environment
**OS** : MacOS Catalina 10.15.6
**Node.js version** : 14.11.0
**suitecloud-cli version** : 1.1.1
**Terminal/CMD tool** : MacOS built-in Terminal app

### Describe the bug
After cloning the repo from github, changing into dir and running npm install, I get the errors listed below. Also MacOS GUI pop-up comes up saying: "The xcodebuild command requires the command line developer

[2020-09-28 12:52] Ulvenas opened #233 "Zsh: command not found: suitecloud"
### Your environment
**OS** : iOS Catalina 10.15.6
**Node.js version**  v12.18.3
**suitecloud-cli version** : Run `suitecloud --version` to check the version
**Terminal/CMD tool** : mac OS Terminal

### Describe the bug
After having successfuly installed suitecloud with 'npm install -g @oracle/suitecloud-cli', I receive: command not found error when typing  'suitecloud'.

### To Reproduce
Steps to

[2020-09-29 12:18] alii-gator commented on #233
@Ulvenas This looks weird. The installation seems to be successful.
Restarting the terminal after installation also doesn't help?
My first guess is that it's a problem with your npm installation.
your global packages are not recognized properly.

Check this [article](https://medium.com/@jagatjyoti.1si13cs040/npm-g-install-npm-package-not-working-as-desired-why-why-why-19795abf0b59) if it helps.

[2020-09-29 12:20] alii-gator commented on #232
@yuri-urban Mac OS requires you to install/enable xcode for development purposes i most of the cases.
Have them installed before hand and then try to install suitecloud cli.
It seems like a problem with your dev environment and not with CLI it self.

[2020-09-29 12:24] yuri-urban commented on #232
@alii-gator i know it's the problem with OS, and this is exactly what i have highlighted. MacOS Catalina does not find the necessary xcode component in its OS updates with the error I have stated in the body of my original message. This means that SuiteCloud CLI tool is not Catalina-compatible at the moment.

[2020-09-29 12:29] alii-gator commented on #232
@yuri-urban Can you try executing this and tell me the output
`xcode-select -p`

[2020-09-29 12:38] yuri-urban commented on #232
@alii-gator there you go:

macbook-pro-15:~ admin$ sudo xcode-select -p
Password:
xcode-select: error: unable to get active developer directory, use `sudo xcode-select --switch path/to/Xcode.app` to set one (or see `man xcode-select`)

[2020-09-29 13:14] Ulvenas commented on #233
Thank you @alii-gator!
I followed the instructions from the article and now it works fine 👍

[2020-09-29 13:16] vic-nik commented on #232
If you would like to run node-cli in development mode (as opposed to installing from npmjs.com) the steps should be:

1. git clone https://github.com/oracle/netsuite-suitecloud-sdk.git
2. cd netsuite-suitecloud-sdk/packages/node-cli
3. npm install
4. npm link (optional, if you would like "suitecloud" command to be globally available in your system)

Note that you have to run "npm install" from nod

[2020-09-29 13:21] yuri-urban commented on #232
@vic-nik I have already tried this exact sequence of steps. It does not help, because it fails with the xcode part. Catalina fails to install the missing components of the xcode saying "Can't install the software because it is not currently available from the Software Update server".

What is my next step to resolve this?

[2020-09-29 13:23] vic-nik commented on #232
We would need to reproduce that in Catalina. Does installation from npmjs.com work for you (npm install -g @oracle/suitecloud-cli)?

[2020-09-29 13:27] yuri-urban commented on #232
@vic-nik just tried it. Ends up with exact same results, errors as in my original message and then a pop-up asking to install xcode command line tools, where i click "Install" -> "Agree" and then get the same error message saying "Can't install the software because it is not currently available from the Software Update server"

[2020-09-29 13:30] #233 closed

[2020-09-29 14:56] vic-nik commented on #232
Ok, thanks for feedback. We will try to reproduce that in Catalina and will provide more info here.

[2020-09-29 15:09] yuri-urban commented on #232
@vic-nik thank you Victor. FYI - I have just also done today's fresh OS update on Catalina and re-ran the 'npm install', but still ran into exact same issues.

[2020-09-29 21:03] alii-gator commented on #232
@yuri-urban @vic-nik I tried on
OS : MacOS Catalina 10.15.6
I was able to install without any issue.
So you should be able to install xcode command line tools. Try installing from app store.
If you haven't already try this [article](https://apple.stackexchange.com/questions/337744/installing-xcode-command-line-tools) please.

[2020-09-30 06:31] vic-nik commented on #232
Thanks for checking that Ali. I tend to think it's environment problem too as no one else has reported similar issues on Catalina so far.

[2020-09-30 09:08] yuri-urban commented on #232
@alii-gator and @vic-nik thanks for your help guys, I did try installing it from the App Store... it took about an hour, but after finishing the install, starting up Xcode and letting it "update components" - the npm install went successful. Therefore this issue can be closed now.

[2020-09-30 09:42] #232 closed

[2020-10-01 12:56] wulfmann commented on #100
i would like to just add that i'd love this feature!

[2020-10-08 11:24] omrilit opened #236 "Recommendation for java heap space parameters"
Is there any recommended -Xms & -Xmx values I should set when running SDF?

[2020-10-08 13:10] vic-nik commented on #236
Hi Omri,
We don't have recommendation and assume that default values should work for common development tasks.
I would only consider changing them if your workflow is really demanding (like running resource intensive commands in automated environment) and if you end up with OutOfMemoryError. It's hard to recommend specific value without knowing exact use case and resources available. These numbers

[2020-10-14 10:04] omrilit opened #239 "Replace request-promise-native"
There are 2 main issues with the request-promise-native package:
1. As described [here](https://www.npmjs.com/package/request-promise-native) it's deprecated which means that there are no security patches added to it.
2. There is a problem using this package in jest as described [here](https://github.com/request/request-promise/issues/247).

Would appreciate if you could replace this package, than

[2020-10-16 14:35] ShawnTalbert opened #241 "should stubs be `jest.fn()` rather than empty functions?"
**suitecloud-cli version** : 1.1.1

### Describe the feature
I've only just glanced at the unit testing support (looking at the http stubs) and it appears we've chosen to use empty functions as the 'stubs' in most cases.

Wondering if we'd be better served by having stubbed functions be `jest.fn()` instead of plain empty functions, so that we can interrogate how/if the stubs were called during a t

[2020-10-16 14:48] ShawnTalbert commented on #241
Wait, I see now in the example you're mocking the entire module ( e.g. `jest.mock('N/record')`). I guess that indirectly achieves the same result, as long as the caller remembers to call `jest.mock`.

I don't remember for sure but I seem to recall some issues with jest.mock() - maybe you lose the friendly string function names in error output?

[2020-10-19 10:47] vic-nik commented on #241
Hi Shawn,
Thank you for your feedback and suggestion.
You are right, we provide stubs for entire module and you can mock behaviour for individual functions as needed. Not sure about downsides of using jest.mock(), we haven't seen any related concerns so far but please let us know if you find any issues with that approach.

[2020-10-19 10:56] #236 closed

[2020-10-19 10:58] alii-gator commented on #239
@omrilit Thanks for bringing this up. We will check this.

[2020-10-19 11:04] alii-gator commented on #239
Tracked Internally - 3774

[2020-10-19 11:06] alii-gator commented on #241
@ShawnTalbert Closing this issue, please feel free to add comments or open new issue if you need help with something.

[2020-10-19 11:06] #241 closed

[2020-10-19 11:12] alii-gator commented on #184
@ShawnTalbert Can you please verify this in newest tools version. As i said in my previous comments, If this is not fixed please open a Case with NetSuite Tech Support.

[2020-10-19 11:12] #184 closed

[2020-10-19 11:14] alii-gator commented on #175
@dspadea-9w `suitecloud project:deploy` will now not do local validation unless `--validate` param is passed.
As is said serverside validation can never be skipped.
If you have need further help please open a new issue.

[2020-10-19 11:14] #175 closed

[2020-10-19 14:18] dspadea-9w commented on #175
Thank you, @alii-gator!

[2020-10-20 09:58] pohodovadevitka opened #242 "A package in dependencies relies upon discontinued python2"
### Your environment
**OS** : e.g. Windows 10
**Node.js version** : e.g. 14.14.0
**suitecloud-cli version** : not installed
**Terminal/CMD tool** : e.g. PowerShell

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
I run `npm install @oracle/suitecloud-cli -D` in root directory of our project.

### Actual Behavior
`> node-sa

[2020-10-20 09:59] jerry-atom opened #243 "A package in dependencies relies upon discontinued python2"
### Your environment
**OS** : e.g. Windows 10
**Node.js version** : e.g. 14.14.0
**suitecloud-cli version** : not installed
**Terminal/CMD tool** : e.g. PowerShell

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
I run `npm install @oracle/suitecloud-cli -D` in root directory of our project.

### Actual Behavior
`> node-sa

[2020-10-20 10:00] #242 closed

[2020-10-20 15:37] ShawnTalbert commented on #184
I actually can't verify this as I'm not working with that project any more (I think we gave up on using SDF for that one).

I'm not sure NetSuite support would have a clue on an error like this but if this is a way to get it resolved I'll do that if I see it again. Thanks @alii-gator

[2020-10-23 10:00] vic-nik commented on #211
Hello @fage789 ,
Thanks for your question. This is the place to report netsuite-suitecloud-sdk related issues, for the general SuiteScript API related questions I suggest you use other channels like SuiteAnswers, specialized Slack channels, StackOverflow etc. I would also advise going through NetSuite Help Center documentation.

[2020-10-23 10:00] #211 closed

[2020-10-23 12:12] Xmun88 commented on #100
me too!

[2020-11-06 08:44] anshulgupta4 commented on #102
@alii-gator --
/bin/bash ${WORKSPACE}/build/sdfcli.sh authenticate -savetoken -tokenid $NS_TOKENID -tokensecret $NS_TOKENSECRET -account $NS_ACCOUNT -authid deployme
I run the above command but keep getting the below error.The token id and secret have been generated correctly.
Where is the glitch ??
_"The token could not be validated. The authentication details are not valid or the server could no

[2020-11-06 09:25] vic-nik commented on #102
Hi Anshul,
I think the error is self explanatory. Either your token details are invalid/expired/inactive or the CLI is not able to make a request to the NetSuite due to network problem. Also you are using Java CLI in your example and this GitHub repository is for Node JS CLI. Anyways they work in a similar way and it will work with valid token details and proper network access setup.

[2020-11-06 09:32] alii-gator commented on #102
@anshulgupta4 Make sure when you generate the token from UI, you select SuiteCloud Development Integration from the application name dropdown. Otherwise token will not work.

[2020-11-06 22:26] alii-gator commented on #115
Fixed in latest version.

[2020-11-06 22:26] #115 closed

[2020-11-11 14:13] anshulgupta4 commented on #102
@alii-gator -- This was the reason why i was not able to login . Thanks was able to login the account !!

[2020-11-23 18:44] omrilit opened #262 "Limited NUMBER_OF_SCRIPTS in ImportObjects"
I see in ImportObjects.js that you chose to reduce the NUMBER_OF_SCRIPTS from 35 to 8.
It causes the import operation to become significantly slower.
When trying to increase it to 35 it works for me and it much faster, also for types that have more than 35 records.
Can it be increased?
What is the server's limit?

[2020-11-24 08:16] karl-anthony-ng commented on #262
We were noticing intermittent errors when we were using 35. We don't exactly know yet what's causing it though. Setting it to a smaller number (right now 8) seems to make it consistently work.

Another thing we noticed is that the process was taking up a lot of CPU cycle since it was running multiple calls in parallel. We noticed that reducing it made the process less CPU intensive.

We've noted t

[2020-11-24 08:21] omrilit commented on #262
@karl-anthony-ng alright, then I'll try to use 30 in my own fork as 8 is just too slow for me.
Please keep me posted in case you have any new findings so I can increase it even more.
Thanks!

[2020-11-26 11:26] alii-gator commented on #95
Closing it after waiting for answers for a long time.

[2020-11-26 11:26] #95 closed

[2020-12-08 17:49] zachvictor opened #276 "WebStorm SuiteCloud IDE import objects and Java sdfcli listobjects treat underscore as wildcard"
### Your environment
**OS** : Windows 10
**Node.js version** : 12.14.0
**suitecloud-cli version** : 1.1.2
**Terminal/CMD tool** : PowerShell or cmd / WebStorm 2020.3 + SuiteCloud IDE 2020.2.0

### Describe the bug
When the scriptid parameter allows for partial-matches, as in Java CLI `sdfcli listobjects` and the SuiteCloud IDE import objects functionality, the underscore character (`_`) is treated

[2020-12-09 01:43] alii-gator commented on #276
@zachvictor Thanks for the detailed description of the issue. We will check it and get back to you with updates.

[2020-12-09 23:56] zachvictor commented on #276
@alii-gator Thanks you. I updated the description to include a possible root cause. It seems likely that the issue originates at the database layer, because SQL interprets `_` as a wildcard.

[2020-12-23 06:33] zachvictor opened #282 "Indicate N scope in doc block tokens that refer to standard SuiteScript library modules"
### Type of request/report
This is not a bug. It is a little suggestion.
### Impact
Minor improvement.
### Context
Doc block definitions in SuiteCloud IDE templates for standard script types.
### Suggestion
When a type-specific script-template is generated by the SuiteCloud IDE plug-in, and the template includes references to standard SuiteScript library modules, the doc block tokens that refer to

[2020-12-24 23:10] mayerlench opened #283 "Feature: Ability to undeploy an SDF project"

[2020-12-27 00:43] zachvictor commented on #282
The suggestion here has a problem: while it corrects the ambiguity in the doc block, it seems to confuse the Intellisense engine "downstream" with the module attributes. Since the latter is more important (I believe), this issue needs to be closed until I can find a solution that can both bring specificity to the doc block portion *and* preserve what already works with the module attributes.

[2020-12-27 00:43] #282 closed

[2021-01-15 12:43] alii-gator commented on #283
@mayerlench Can you please give any use cases for this?
Are you looking for the ability for ACP projects or SuiteApp projects or both?

[2021-01-15 14:06] mayerlench commented on #283
Yes, if I deploy an SDF account customization that has say 10 objects.

There's no way currently to undeploy, I would have to log in to netsuite and delete each object

[2021-01-27 13:27] dylbarne opened #292 "jest startup performance"
### Your environment
**OS** : Windows 10
**Node.js version** : v14.15.4
**suitecloud-cli version** : 1.1.2
**Terminal/CMD tool** : VSCodeTerminal

### Describe the bug
running simple included jest test is quite slow, takes ~2.5-3 seconds (seems mainly just to startup of jest/runner itself, however the actual test execution is performed very quickly)
Started looking further into jest docs & issue,

[2021-01-28 12:32] salvo4u commented on #102
@alii-gator
I logged into netsuite and generated keys and issued a authid for myself that i want to use for deployments
_./sdfcli.sh authenticate -savetoken -tokenid abc -tokensecret xyz -account 123456 -authid mykey_
But when i use mykey with the deploy command is gives me the error:
_/bin/bash ${WORKSPACE}/build/sdfcli.sh validate -p ../$line  -authid scjprod1 -server_

**_"The "********" authen

[2021-02-04 05:04] nrdejesus opened #295 "Referencing of parentsubtab results in an error when deploying objects concurrently."
### Your environment
**OS** : Windows 10 x64
**Node.js version** : 12.18.2
**suitecloud-cli version** : 1.1.2
**Terminal/CMD tool** : Git Bash

### Describe the bug
This issue occurs when objects that have dependencies on each other are concurrently deployed to a single account.
Details: Invalid parentsubtab reference key <customRecordId> for selectrecordtype <customRecordId>.

### To Reproduce
St

[2021-02-23 09:22] alii-gator commented on #295
@nrdejesus We will take a look at it and if its the issue with the tool we will fix it and if (most likely) it's a problem on server side you will have to create a netsuite issue via customer support.

[2021-02-23 09:24] alii-gator commented on #292
@dylbarne Thanks for the suggestions, we will investigate it further and will keep you updated. Thanks

[2021-02-23 09:27] alii-gator commented on #283
@mayerlench Currently NetSuite only supports uninstalling of a SuiteApp from Account. It's not yet supported with the tool.
I will discuss this with the team and probably you will have to request this as a Feature Enhancement  by contacting NetSuite Support.

[2021-02-23 13:15] MrRob commented on #88
@timothy-o-johnson Hey, I was curious if you ever figured this out.  I'm running into the same problem trying to deploy/validate one of my SuiteApps in Eclipse

[2021-02-27 06:49] MrRob opened #312 "Package SuiteApp to Zip fails when custom forms are included"
### Your environment
**OS** : MacOS 11.2.2 (Big Sur)
**Node.js version** : e.g. 14.16.0
**suitecloud-cli version** : 1.1.2
**Terminal/CMD tool** : Mac Terminal app (zch)

### Describe the bug
When I try to run suitecloud project:package on a SuiteApp that contains custom forms, it tries to validate the project, and I get many warnings and errors that don't come up during normal validation (the war

[2021-03-02 10:06] alii-gator commented on #312
@MrRob We will investigate this and will update you as soon as possible.
But the validation is necessary because this package of suiteapp is supposed to be for MarketPlace. So we need to make sure that its ready and there are no validation errors.

[2021-03-03 07:34] MrRob commented on #312
@alii-gator Sure, that's fair.  I suppose the expectation is then that it runs the same validation as the normal validate command.  It seems to be running a different validation process.  Thank you!!

[2021-03-12 11:43] alii-gator commented on #100
This is already available in new version `1.2.0`
Install the new version and check it out

[2021-03-12 11:43] #100 closed

[2021-04-07 10:04] alii-gator commented on #276
@zachvictor can you still replicate this issue in latest tools?

[2021-04-07 10:26] alii-gator commented on #243
@jerry-atom Please checkout the latest version `1.2.1`
This has been updated. Try it and let me know so we can close this issue.

[2021-04-08 17:07] alii-gator commented on #295
@nrdejesus I discussed this with my team, and we think we will need to involve some other teams.
For that reason please contact NS Support and advise them to assign this to "Platform Suitecloud Development" Team and we will take care of that there.

With that i am closing this issue here.

[2021-04-08 17:07] #295 closed

[2021-04-15 18:59] rntgspr opened #341 "Unix style line endings"
### Your environment
**OS** : MacOS Big Sur 11,1
**Node.js version** : 12.14.1
**suitecloud-cli version** : latest
**Terminal/CMD tool** : iTerm

### Describe the bug
Just faced an error using suitecloud cli inside project folder directory on MacOS BigSur 11.1

### To Reproduce
[code]

### Actual Behavior
[code]

### Expected Behavior
<list of current authentication id's>

### Additional context
I

[2021-04-20 06:21] nrdejesus commented on #295
Hi @alii-gator ,

Thanks! I'll update this thread with the case # for your reference.

[2021-04-20 11:25] #276 closed

[2021-04-20 11:25] #243 closed

[2021-04-20 11:28] alii-gator commented on #341
@rntgspr  Thanks for reporting this, when you say
`After file is fixed (adding a line after the first line and saving) everything works as expected`
Which file are you editing and adding a new line?

[2021-04-20 17:03] rntgspr commented on #341
Sorry, I should put it there,
https://github.com/oracle/netsuite-suitecloud-sdk/blob/master/packages/node-cli/src/suitecloud.js

Adding a line after line 1

[2021-04-26 21:40] zachvictor commented on #276
Hello, @alii-gator ! I will try to replicate.

Do you know if it was addressed in the latest release?

[2021-04-26 22:56] zachvictor commented on #276
@alii-gator The issue remains as it was. Please re-open. The attached video is a brief demo illustrating the exactly of "_foo_" (above). If underscore were interpreted as a string literal, then "_foo_" would match one and only one of the three customrecordtypes that I created in this dev account for this test. If underscore were interpreted as a single-character wildcard, then "_foo_" matches all

[2021-04-28 18:31] epelc commented on #173
Also just ran into this when trying to convert our customizations into an SDF project.

Notably the `suitecloud project:validate` command and `suitecloud project:deploy --dryrun` seem to run different conflicting validations. The validate command shows this position error while the deploy dryrun requires the position. The docs also specify a position field is available.

https://github.com/oracle/

[2021-05-12 03:52] donovandicks opened #356 "Installation Fail"
### Your environment
**OS** : macOS 11.2.3
**Node.js version** : 16.1.0
**suitecloud-cli version** : Failed to install
**Terminal/CMD tool** : iTerm using ZSH

### Describe the bug
Running `npm install -g @oracle/suitecloud-cli` hangs on 'reify:rxjs: timing reifyNode:node_modules/@oracle/suitecloud-cli/node_modules/lodash'

### To Reproduce
Steps to reproduce the behavior:
1. Run `npm install -g @

[2021-05-12 04:18] donovandicks commented on #356
Installation works with node v14 & npm v6

[2021-05-12 04:18] #356 closed

[2021-05-17 14:41] epelc opened #362 "Saved searched scriptid ending in number uploads as different scriptid then fails deploy on second update"
### Your environment
**OS**  macOS 11.3.1
**Node.js version** :  14.17.0
**suitecloud-cli version** : 1.2.1
**Terminal/CMD tool** :  macOS Terminal
### Describe the bug
A clear and concise description of what the bug is.

If you use a scriptid ending in a number for a saved search(potentially other types too?) and deploy it via the cli it will end up in netsuite as `customsearch_myid_2_2` instead

[2021-05-17 16:47] dturton opened #363 "suitecloud project:deploy. error - com.sun.net.ssl.internal.ssl.Provider"
### Your environment
**OS** : BigSur 11.3
**Node.js version** : v14.16.1
**suitecloud-cli version** : 1.2.1

### Describe the bug
When  I attempt to deploy a project the command exits and console logs this "com.sun.net.ssl.internal.ssl.Provider" with no other information.

### To Reproduce
Steps to reproduce the behavior:
1. Run suitecloud project:deploy

It could be something with my Java install

[2021-05-17 17:04] tourajvaziri commented on #363
hello @dturton
Are other commands also return a similar error (?) and does it only happen for a specific project or with other projects as well? (You can try with a new empty project  ) Also which java version do you have installed?

[2021-05-17 21:11] dturton commented on #363
After several attempts of removing and re-installing JDK 11, it started working but I don't have the exact steps to reproduce it.

[2021-05-17 21:11] #363 closed

[2021-06-08 11:04] ludeknovy opened #369 "security vulnerabilities in localserver-cli-command dependency"
### Describe the bug
npm audit marks the `@oracle/suitecloud-cli-localserver-command > handlebars  ` as critical vulnerability

### To Reproduce
Steps to reproduce the behavior:
1. Run `npm audit` in a project where the `@oracle/suitecloud-cli-localserver-command` is used

### Actual Behavior
`Remote code execution when compiling templates` vulnerability is found in `handlebars` dependency

### Ex

[2021-06-09 21:23] Extend-Apps opened #370 "Cannot validate or deploy a custsecret_"
### Your environment
**OS** : macOS Big Sur (11.4)
**Node.js version** : v15.11.0
**suitecloud-cli version** : 1.2.1
**Terminal/CMD tool** : WebStormTerminal

### Describe the bug
Attempting to include a 'Secret' in our SuiteApp using Secrets Management (for distribution with our SuiteApp)

### To Reproduce
Steps to reproduce the behavior:
1. Create a Secret in NetSuite's "Secrets Management" tool

[2021-06-10 16:23] zachvictor commented on #276
Any word on this one? I understand it's closed; still, I figured it wouldn't hurt to ask.

[2021-06-14 04:07] ammpedro commented on #312
Hi,

Are there any updates on this? We are also encountering this in suitecloud 1.2.1 and it will potentially block automation.

An observation though, is that the warnings are overriden by using the `suitecloud project:package -i` which generates a zip file under the build folder.

Thanks.

[2021-06-14 04:11] ammpedro commented on #173
Hi,

Are there any updates on this? We are also encountering this in suitecloud 1.2.1 and Node v14.16.0.

Thanks.

[2021-06-15 09:28] alii-gator commented on #370
@Extend-Apps  This is not a defect of tool but server side error.

But anyway maybe there is something you can do.
For the marketplace`custsecret` is configured already. No additional steps required, and also as you said it works from marketplace.

But if you want to deploy from tool, there are some additional steps we need to perform.

How to configure:
Using the first account create a secret obj

[2021-06-15 09:28] #370 closed

[2021-06-16 12:56] Extend-Apps commented on #370
@alii-gator , unfortunately, the solution you provided did not work.  Would I need to delete and recreate the secret completely?  I'm worried that doing that will break the installs into other accounts.

I'm happy to meet/screen share.  This issue has forced our multi-developer project to all use a single DEV account ... which has introduced a nightmare of coordination.

[2021-06-18 12:48] MrRob commented on #312
@ammpedro I'm still having this problem as well.  And using the -i flag doesn't solve it because I still have the error about the WMSSYSTEM missing from the manifest (which is a separate bug).  Sadly I'm still using Eclipse as the workaround.

[2021-07-09 08:36] ammpedro commented on #312
Hi @MrRob, Ah! Yes you are right, only when `<feature required="true">WMSSYSTEM</feature>` is in the manifest, that `suitecloud project:package` is successful. We have also resorted to using Eclipse as the workaround, but the SuiteCloud IDE for Eclipse will be deprecated in 22.1.
I've been back and forth with NS Support and they are still providing Eclipse as a workaround as well, but it defeats t

[2021-07-27 17:20] Rvice opened #391 "Jest Custom Output not working, seems the configuration for JEST is not getting passed in correctly"
### Your environment
**OS** Windows 10
**Node.js version** : v16.5.0
**suitecloud-cli version** : 1.2.1
**Terminal/CMD tool** : CMD

### Describe the bug
I am attempting to use a custom reporter (https://www.npmjs.com/package/jest-teamcity-reporter), but it appears I cannot get the configuration settings to apply.

### To Reproduce
Steps to reproduce the behavior:
1. Add the following to the packa

[2021-08-12 07:39] alii-gator commented on #391
@Rvice Can you share a complete package.json?

Which version of team-city-reporter are yo using?

[2021-08-12 07:41] alii-gator commented on #369
@ludeknovy This should be resolved in upcoming release.

[2021-08-12 07:46] alii-gator commented on #312
@MrRob This will be fixed in upcoming release.
Since there are some issues with local validation. We are going to remove local validation step while packaging.

So a user should be responsible to validate locally/server side before packaging.

[2021-08-19 08:53] MrRob commented on #312
@alii-gator I appreciate the update!  It seems that the good news is that the 2021.1 WebStorm plugin is now able to successfully generate the project zip files, which is amazing progress.  I still get the error in the CLI, but at least with it working in WebStorm we don't have to use Eclipse anymore. Thank you!

[2021-08-19 14:53] deus42 opened #420 "The JAR file is not available from this URL."
### Your environment
**OS** : Ubuntu 20.04
**Node.js version** : e.g. 12.14.1
**suitecloud-cli version** : Run `suitecloud --version` to check the version

### Describe the bug
JAR file download link is broken

### To Reproduce
Steps to reproduce the behavior:
1. Run npm install -g @oracle/suitecloud-cli@1.1.2

### Actual Behavior
There was an error when downloading SuiteCloud SDK dependencies fro

[2021-09-15 12:26] alii-gator commented on #420
The new version is out.
Try `Run npm install -g @oracle/suitecloud-cli`

[2021-09-15 12:26] #420 closed

[2021-09-15 12:27] alii-gator commented on #369
Fixed. We removed this package for now.

[2021-09-15 12:27] #369 closed

[2021-09-15 12:29] alii-gator commented on #312
@MrRob We have removed Flaky Local validation in newest version `1.3.0`.
you can manually validate against server and package if all is validated correctly.
The package command will not run validation.

Run `npm install -g @oracle/suitecloud-cli`

[2021-09-15 12:29] #312 closed

[2021-09-15 12:30] alii-gator commented on #239
Should be fixed in newer version `1.3.0`

[2021-09-15 12:30] #239 closed

[2021-09-16 19:01] dylbarne opened #461 "VSCode Extension | Create SuiteScript File, incorrect template details generated (Client Script type)"
### Your environment
OS : Windows 10
Node.js version : v14.15.4
suitecloud-cli version : 1.3.0
Terminal/CMD tool : VSCode **Extension**

### Describe the bug
For VSCode extension, when running command "SuiteCloud: Create SuiteScript File" for Client Script type, incorrect template details are generated - with respect to JSDoc entry point function parameters.
Example: for `fieldChanged`/`validateFi

[2021-09-17 09:03] alii-gator commented on #461
@dylbarne We will investigate.

[2021-09-20 15:38] dylbarne opened #464 "VSCode Extension | "Deploy Project" does not execute suitecloud.config command hooks"
### Your environment
**OS** : Windows 10
**Node.js version** : v14.15.4
**suitecloud-cli version** : 1.3.0
**Terminal/CMD tool** : VSCode Extension

### Describe the bug
A supported feature of the SuiteCloud Node Cli is command hooks (see "Suitecloud.config.js Customizations" section on https://docs.oracle.com/en/cloud/saas/netsuite/ns-online-help/section_155931221634.html)
This works via Node Cli

[2021-09-27 12:06] karl-roberson-infinet opened #466 "Remaining N/Module Stubs to be provided."
### Expected Behavior
That tests will go smoothly without having to create standard netsuite stubs that should be provided.

[2021-09-28 09:38] alii-gator commented on #464
@dylbarne Thanks for reporting this. We are working on it.

[2021-09-28 09:45] dgasull opened #467 "Browser authentication process not prompted in Fedora 34"
### Your environment
**OS** : Fedora 34
**Node.js version** : v14.17.6
**suitecloud-cli version** : 1.3.0
**Terminal/CMD tool** : Bash
**Browser**: Firefox 92.0
**WebStorm**: 2021.2.2
**SuiteCloud plugin IDE**: 2021.2.1

### Describe the bug
Cannot open browser authentication tab while trying to setup account. `Continue the authentication process in prompted browser` message appears but no browser

[2021-09-28 14:07] alii-gator commented on #467
@dgasull Yes we are aware of the problem with Fedora 34, we are working on it.

[2021-09-29 23:58] zatloeri commented on #466
I second this. This would be very much appreciated.

[2021-10-05 19:17] irrgit commented on #467
1. The process to open a browser tab completes after a while and I am prompted to login in NetSuite. The issue is that the generated URL trying to callback to http://localhost:52300/tba?oauth_token= fails since the connection is most likely closed by then.

[code]
2. Clicking "Cancel" after starting the request immediately opens up the tab in the browser

[2021-10-05 20:38] Rvice opened #468 "Project:Deploy errors on custom address form"
### Your environment
**OS** : Windows 10
**Node.js version** : 14.17.4
**suitecloud-cli version** : 1.3.0
**Terminal/CMD tool** : PowerShell

### Describe the bug
When attempting to run suitecloud project:deploy on a custom address form with an additional field an error occurs. Note, the XML extracted was form the object:import and object:update option.

Additionally, roles that are attempting to

[2021-10-06 15:09] davidecorreu commented on #464
Hi @dylbarne , the hooks are also executed from VSCode Extension, just keep in mind that the console.log() statements won't be shown in the Visual Studio Code SuiteCloud Output.
The file testDeploy.txt has been created, but probably is not where you were expecting it.

I'll leave here another `suitecloud.config.js` sample so you can check that the hooks work fine from SuiteCloud CLI and SuiteCloud

[2021-10-06 20:01] dylbarne commented on #464
ah I see now, sorry for the false alarm! :) looks like can be resolved/closed

it would be a cool enhancement to expose some kind of logger that would display to the same VSCode output window as the other current logs for "SuiteCloud", if that is possible

[2021-10-08 17:41] jsnzldy opened #470 "VSCode Extension | Stuck on "Downloading SuiteCloud SDK dependencies...""
Just installed the VSCode Extention but the "Downloading SuiteCloud SDK dependencies..." task is not finishing. I also tried running commands in the command pallet but I'm getting below error.

command suitecloud.<nameOfCommand> not found

Also, the log file on the Extension Log Folder is empty.

[2021-10-08 19:01] alii-gator commented on #470
Yes we are experiencing a minor issue. We are fixing it.

[2021-10-09 12:51] alii-gator commented on #470
@jsnzldy should be fixed now. The dependecies should download if you restart vscode.

[2021-10-09 12:51] #470 closed

[2021-10-11 08:29] alii-gator commented on #468
@Rvice Are you validating the project with deploy? What happens when if you run project:validate --server?

[2021-10-11 21:58] amaddoxthevested opened #471 "Can the SuiteCloud Extension for Visual Studio Code be used without SDF?"
Can the SuiteCloud Extension for Visual Studio Code be used without SDF?

Is there a SuiteCloud Extension for Visual Studio Code that can be used without SDF?

[2021-10-12 12:59] amaddoxthevested commented on #471
Currently our NetSuite Scripts do not use SDF.  The scripts are in the Suite Scripts folder.  I would like to use the SuiteCloud VS Code extension to download the files to VS Code, but it is saying there is no manifest.xml file because there is no SDF.

Amanda  Maddox
Senior Consultant
t: 972.429.9025 | m: 972.791.8441
e: ***@***.*** | w: www.thevested.com
a: 1001 18th St., Plano, TX75074
The Vest

[2021-10-13 11:51] alii-gator commented on #471
@amaddoxthevested
All the tools delivered by Oracle NetSuite will expect that the project used is a SUITECLOUD project.
If your use case is that you want to Import and upload **SuiteScript** files to **SuiteScript** folder in the **filecabinet**, you can just create an **ACCOUNT CUSTOMIZATION PROJECT** in VSCODE.
Then import the files in that project and you can use that folder to upload files to

[2021-10-13 11:51] #471 closed

[2021-10-13 11:56] alii-gator commented on #468
@Rvice This has to be reported to Netsuite support, as this doesn't seems to be a problem with the tool, but server side functionality.

[2021-10-13 11:56] #468 closed

[2021-10-15 14:16] #464 closed

[2021-10-20 22:39] Rvice opened #480 "Cannot retrieve a disabled lineitem column "value" it returns the "internalId""
### Your environment
**OS** : Windows 10
**Node.js version** : 14.17.4
**suitecloud-cli version** : 1.3.0
**Terminal/CMD tool** : PowerShell

### Describe the bug
If a "lineItem" field is "disabled" via a UserEvent Script the following results in the internalId of a List instead of the "Value"
[code]

One time I had multiple entries with duplicate Values and suspected this was the issue. I then pu

[2021-10-21 09:48] VictorJuez commented on #467
Now it works for me :upside_down_face:

[2021-10-22 18:37] MiliGaricoits opened #481 "suitecloud project:adddependencies returns Internal error encountered (Null pointer exception)."
### Your environment
**OS** : iOS Big Sur
**Node.js version** : 12.22.3
**suitecloud-cli version** :1.2.1
**Terminal/CMD tool** : ZSH Terminal

### Describe the bug
running suitecloud project:adddependencies and returns Internal error encountered (Null pointer exception).

### To Reproduce
Steps to reproduce the behavior:
1. Run suitecloud project:adddependencies while standing on src folder

[2021-11-01 10:13] ludeknovy opened #483 "Release notes are missing for 1.3.X verison"
### Describe the bug
There are no release notes for recent version(s).
https://github.com/oracle/netsuite-suitecloud-sdk/releases

### Expected Behavior
Release notes are present.

[2021-11-02 13:17] alii-gator commented on #483
@ludeknovy updated the release notes for `1.3.1`
[Release Notes 1.3.1](https://github.com/oracle/netsuite-suitecloud-sdk/releases/tag/%40oracle%2Fsuitecloud-cli%401.3.1)

[2021-11-02 13:17] #483 closed

[2021-11-03 16:32] faiwudevse commented on #95
I have the same issue with suitecloud file:import -i that keeps spinning. Like others mention the path option works.

[2021-11-03 20:34] Rvice opened #484 "Custom Form "Printing Fields" are not stored in the custform object"
### Your environment
**OS** : Windows 11
**Node.js version** : 14.16.4
**suitecloud-cli version** : 1.3.1
**Terminal/CMD tool** : Powershell

### Describe the bug
Saving the custom form object, there are no printing settings stored. Ideally, this would store the various checkboxes to print and also any labeling changes for fields that are used.

### To Reproduce
Steps to reproduce the behavior:
1.

[2021-11-03 22:33] Rvice opened #485 "PDF Layouts for Transaction Forms not suppported [NOT_YET_SUPPORTED]"
### Your environment
**OS** : Windows 11
**Node.js version** : 14.16.4
**suitecloud-cli version** : 1.3.1
**Terminal/CMD tool** : powershell

### Describe the bug
The Transaction Form for INVOICE has a value that does not line up with a customizations:
      <pdfLayout>[NOT_YET_SUPPORTED]</pdfLayout>

### To Reproduce
Steps to reproduce the behavior:
1. suitecloud object:import -i <custform_invoic

[2021-11-05 22:13] faiwudevse opened #486 "Loading File Cabinet Folders Loads Forever"
### Your environment
**OS** : e.g. iOS MacOS Big Sur
**Node.js version** :  v16.13.0
**suitecloud-cli version** : 1.3.1
**Terminal/CMD tool** : Terminal
java version : java 11.0.12

### Describe the bug
For any commands, if you put -i which is the interactive mode, it will run forever that also taking CPU resources. It displays this message " Loading File Cabinet folders" and it loads forever. I t

[2021-11-07 22:43] dylbarne commented on #292
I believe this can be closed, since as of Jest v27 now default testEnvironment is node
https://jestjs.io/blog/2021/05/25/jest-27#flipping-defaults

[2021-11-08 10:07] #292 closed

[2021-11-08 10:08] alii-gator commented on #486
@faiwudevse Can you try with Node14 LTS, which is recommended for this CLI.
When you do please re-install the CLI again.

[2021-11-08 10:09] alii-gator commented on #484
@Rvice This is not an issue with the tool, this is server side issue. Please contact NS Support.

[2021-11-09 02:10] faiwudevse commented on #486
I did install node14 LTS (v 14.7.4), and ran this command npm install -g @oracle/suitecloud-cli  to reinstall cli . I still have the same issue in the interactive option when it comes to "Loading File Cabinet folders... ",  that just loads forever(I let it ran on the terminal like 6 hrs until I killed it). Other parts are working if that is not involving loading file cabinet folder.

[2021-11-17 18:53] dylbarne opened #487 "Allow custom stubs to have ES6 module syntax"
### Your environment
**OS** : Windows 10
**Node.js version** : v16.13.0
**suitecloud-cli version** : 1.3.1
**Terminal/CMD tool** : VSCodeTerminal

### Describe the bug
When attempting to create a custom stub using ES6 module syntax, does appear in callback dependency of AMD Suitescript module in a usable way - is instead having `.default` property.

### To Reproduce
Steps to reproduce the behavior

[2021-11-18 23:33] svs71180 opened #488 "SuiteApp object dependencies added to manifest not recognized"
### Your environment
**OS** : macOS 11.6
**Node.js version** : v17.0.1
**suitecloud-cli version** : 1.3.1
**Terminal/CMD tool** : VSCodeTerminal

### Describe the bug
Account customization type project with object reference from a SuiteApp are not being recognized and are causing the project validation to fail with the following error message.

The object reference [scriptid=custcol_test_suiteapp_

[2021-11-24 04:23] michoelchaikin opened #489 "Publish VS Code Extension on Open VSX Registry (Add GitPod, VSCodium support)"
Is it possible for the VS Code extension to be published to Open VSX?

Open XSV is a vendor-neutral, open-source alternative marketplace for VS Code Extensions. Adding the extension to this registry will allow it to be used in fully open-source forks of VS Code such as VSCodium, gitpod etc.

Further information for publishing extensions to the registry is available here: https://github.com/eclipse

[2021-12-01 21:44] svs71180 commented on #488
Issue resolved by adding the appid reference to each field dependency

[2021-12-01 21:44] #488 closed

[2021-12-02 15:11] Rvice commented on #484
NS Support logged:
Enhancement # - 652567
Summary: Custom Transaction Form > Basic Printing Type > Expose Printing Fields object for customization

[2021-12-02 15:12] Rvice commented on #485
NS Support logged

Enhancement # - 652355
Summary: SDF > Custom Form > Printing Layout > [NOT YET SUPPORTED]

[2021-12-02 23:31] ghost opened #490 "Add ability to edit and delete authentication IDs in SuiteCloud Extension for Visual Studio Code"
### Summary
SuiteCloud Extension for Visual Studio Code has the ability to store authentication IDs, which are composed of an alias and NetSuite credentials. While users have the ability to create new authentication IDs, there is no supported way to edit or delete authentication IDs.

### Task
Add the ability to edit and delete individual authentication IDs in SuiteCloud Extension for Visual Studi

[2021-12-05 11:50] erikaschua commented on #183
Encountered similar error as well:
`An error occurred during custom object update.
Details: Invalid permlevel4 reference key 3 for permkey4 ADMI_ACCOUNTING.`

[2021-12-07 15:47] MrRoot007 commented on #470
i have the same error, 12/12/21

[2021-12-07 16:06] alii-gator commented on #470
@MrRoot007 What is the output of `java -version` on your machine.
And also version of vscode?

[2021-12-07 21:12] MrRoot007 commented on #470
@alii-gator
VSC->
Version: 1.62.3 (Universal),
Java ->
java version "11.0.13" 2021-10-19 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.13+10-LTS-370)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.13+10-LTS-370, mixed mode)

[2021-12-07 22:24] alii-gator commented on #470
@MrRoot007 can you try with 1.61 version of vscode?

[2021-12-08 15:11] MrRoot007 commented on #470
Version: 1.61.2
Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
i tried with 1.61.2 version, the same message: Before executing any SuiteCloud command, SuiteCloud SDK dependencies need to be validated. Try again in a few seconds.

[2021-12-12 07:44] MUBUSHER commented on #470
@MrRoot007 any luck on this

[2021-12-12 17:14] MrRoot007 commented on #470
@MUBUSHER no, the issue persist,
im using the CLI

[2021-12-12 21:48] alii-gator commented on #470
@MUBUSHER @MrRoot007
Can you please check if you uave any proxy configuration in vscode?

[2021-12-13 06:29] MrRoot007 commented on #470
![Captura de Pantalla 2021-12-12 a la(s) 23 22 38](https://user-images.githubusercontent.com/55603881/145757097-47b3f997-f6b6-46dc-aa5e-dfbd55fab4d1.png)
Sorry i tried with 1.63, the result is the same

[2021-12-16 12:53] MiliGaricoits opened #491 "Suitecloud SDF stopped working after Monterey OS update"
After upgrading to Monterey OS and Updating WebStorm to version 2021.2.3 the plugin stopped working. It looks installed and the account can be configured but we right-clicking on the project or any file, the NetSuite action is greyed out.

![image](https://user-images.githubusercontent.com/6898959/146375588-3a6ab28f-97b6-4253-95e6-ab1aa4ba9736.png)

[2021-12-16 12:59] alii-gator commented on #491
This repository is for reporting bugs related to `SuiteCloud CLI for nodeJS`, and `SuiteCloud extension for VSCode`
Please report this issue  to NS Support and provide your project also to debug.

[2021-12-16 12:59] #491 closed

[2021-12-16 13:05] alii-gator commented on #491
See requirements.
https://system.netsuite.com/app/help/helpcenter.nl?fid=section_1529432517.html

[2021-12-20 14:38] alii-gator commented on #486
@faiwudevse We are working on it. Currently this is in testing. We will have an update for you soon.

[2021-12-20 14:39] alii-gator commented on #485
Since this should be Fixed via NS Support and it's already reported to them, we are closing this since nothing is to be fixed in tools.

[2021-12-20 14:39] #485 closed

[2021-12-20 14:40] alii-gator commented on #484
Closing this as well. The case is opened with NS Support.

[2021-12-20 14:40] #484 closed

[2021-12-20 14:43] alii-gator commented on #481
@MiliGaricoits This is in testing currently. Seem like the solution we are testing works well with some of the projects shared by users who were having the same issues. we will push the newer version with the fix. Hopefully it will fix the problem for you as well.

[2021-12-20 16:39] colivares82 commented on #489
Hello @michoelchaikin, thanks for sharing this question.
I think it might depend on the term of usage you are looking for to achieve.

Would you like to have a quick call to clarify this point? Slack me!

[2021-12-20 16:39] #489 closed

[2021-12-20 16:47] colivares82 commented on #466
Hello @karl-roberson-infinet  and @zatloeri,

We have heard this and we understand is really helpful to have the whole SuiteScript API Stub Definitions, however, due to the team capacity and other elements we are pursuing for the whole community we can not provide a commitment to deliver this anytime soon.

The custom stub configuration, for now, I think will be the best option for everyone to fol

[2021-12-20 16:47] #466 closed

[2021-12-20 17:05] alii-gator commented on #481
@MiliGaricoits @svs71180 Please try this with latest version of CLI `1.3.1`

[2021-12-20 17:05] #481 closed

[2021-12-29 15:12] LegitimatePassion opened #500 "SuiteCloud CLI for Node.js - project:deploy [-- dryrun] - Access Denied Error"
### Your environment
**OS** : Windows 10
**Node.js version** : v14.17.1
**suitecloud-cli version** : 1.2.1
**Terminal/CMD tool** : gitbash

### Describe the bug
When I run the following command, I get an unexpected error.

Command: `suitecloud project:deploy [-- dryrun]`
Error: **An unexpected error has occurred. Details: Access denied**

This doesn't make sense, because I'm able to run every othe

[2021-12-29 16:01] LegitimatePassion commented on #500
My mistake, I figured out the issue. Closing this issue.

[2021-12-29 16:01] #500 closed

[2021-12-30 14:23] bernsteinmatt1717 opened #501 "Dashboard Deploy Not Setting Up Reminder and Search Portlets"
### Your environment
**OS** : e.g. macOS 12.0.1 (
**Node.js version** : 14.17.4
**suitecloud-cli version** : 1.3.2
**Westorm Version** : 2021.2.3
**Terminal/CMD tool** : Webstorm SDF Plugin

### Describe the bug
When deploying a custom center tab and custom dashboard, the dashboard is not set up correctly. The reminders and search portlets are not set up with the search as specified in the XML. Th

[2021-12-30 14:33] alii-gator commented on #501
@bernsteinmatt1717 This platform is for reporting bugs related to SuiteCloud CLI for NodeJS and SuiteCloud Extension for VSCode.

The behavior you have described is not related to the tools it self but with NS Functionality. Please contact NS Support.

[2021-12-30 14:33] #501 closed

[2021-12-30 14:41] bernsteinmatt1717 commented on #295
Was there ever an update? I've run into the same issue

[2022-01-12 05:18] michoelchaikin opened #503 "Upload File command should show an error if upload fails"
### Your environment
SuiteCloud Extension for Visual Studio Code v1.0.3

### Describe the bug
If the Upload File command fails (for example due to a syntax error in the file), the VS Code extension still displays the message, "'Upload File' has been successfully executed").

### To Reproduce
Create a suitescript file with a syntax error, and then try run the command `SuiteCloud: Upload File`

###

[2022-01-18 00:57] michoelchaikin opened #509 "Add an option to skip overwriting warning on file upload"
SuiteCloud Extension for Visual Studio Code v1.0.3

When uploading a file (SuiteCloud: Upload File), a warning dialogue is displayed, "The file in your account will be overwritten.."

![image](https://user-images.githubusercontent.com/2066125/149852785-602d409d-2540-4a83-8d2c-7d1fa142b314.png)

Can an option be added to remove this prompt? It adds an additional step to a frequent part of the devel

[2022-01-31 03:44] gillyspy opened #519 "unit testing fails when `define` has been proxied/ abstracted, etc"
### Your environment
**OS** : macOS 12
**Node.js version** : 16.13.2
**suitecloud-cli version** : 1.3.1
**Terminal/CMD tool** : iTerm

### Describe the bug
unit testing module does not support a customized `define`

### To Reproduce
Steps to reproduce the behavior:
1. create a module like this:
[code]
2. test with suitecloud

### Actual Behavior
[code]

### Expected Behavior
that should work. Whil

[2022-02-03 19:46] gillyspy commented on #519
i opened [this issue](https://github.com/msrose/babel-plugin-transform-amd-to-commonjs/issues/288) for you guys.  Can you try it? or how can i try it with your package?

[2022-02-06 04:24] mmdonohue commented on #95
If you get stuck here, I created a powershell script that imports from a txt file.
Just copy and paste the output from suitecloud file:list --folder /SuiteScripts into a file _import_files.txt_
save below as import_runner.ps1 in project root and change below  (<_USER_>, <_PROJECT ROOT_>) to your import list path

Get-Content C:\Users\<_USER_>\Documents\<_PROJECT ROOT_>\src\import_files.txt |
  For

[2022-02-07 07:14] Narayana-netscore opened #530 "How to create new objects in the Project?"
Hi All,

Is there anyway to create new object in VSCode editor itself rather than importing from the account?

[2022-02-10 08:17] mtoniato opened #532 "Show active authentication ID"
Currently there is no way from the UI to know which authentication ID is active.
This could result in wrong uploads (Sandbox vs Production).
Moreover a more detailed account management would be appreciated (see https://github.com/oracle/netsuite-suitecloud-sdk/issues/490).

[2022-02-11 16:07] gillyspy opened #536 "SUBSCRIPTIONBILLING incorrectly being added as a feature dependency on custom entryform"
### Your environment
**OS** :OSX
**Node.js version** : v16.13.2
**suitecloud-cli version** : 1.3.2
**Terminal/CMD tool** : iTerm 2

### Describe the bug
Add in a custom entry form and then add dependencies and it will add SUBSCRIPTIONBILLING feature as "true"
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Run suitecloud commands as above

### Actual Behavior
see above.

additionally

[2022-02-18 13:36] mtoniato opened #542 "Accounts per Project (Suitecloud for vscode)"
As far as I know the accounts that are configured in Visual Studio Code with "Suitecloud: Set Up Accounts" are global and not project-based.

In my case I am working on many Netsuite platforms. I created separated projects but it is very dangerous to have shared accounts: accidentally I could deploy the file on the wrong Netsuite environment.

[2022-02-18 16:30] Extend-Apps opened #544 "Installation of v1.4.0 fails with latest version of NPM"
### Your environment
**OS** : MacOs Monterey v12.2.1
**Node.js version** : 16.13.0
**NPM.js version** : 8.5.0
**suitecloud-cli version** : 1.3.2 (Attempting to update to v1.4.0)
**Terminal/CMD tool** : /bin/zsh

### Describe the bug
Attempting to update to suitecloud v1.4.0

### To Reproduce
Steps to reproduce the behavior:
1. Run _**npm -g install @oracle/suitecloud-cli@1.4.0**_ or (**_npm instal

[2022-02-22 19:50] wmadruga commented on #544
Same issue on linux.
Kernel 5.16.9-200
node 16.13.2
npm 8.1.2

Is there a workaround? I didn't want to revert my whole setup to use sdfcli again...

[2022-02-22 19:58] Extend-Apps commented on #544
No workaround that I know of.  I just reverted to v1.3.2

[2022-02-22 20:05] wmadruga commented on #544
I couldn't find any either and I was hoping I'd miss something :D Thanks!

[2022-03-01 19:30] rohitsharma11607471 commented on #536
Can i pick this?

[2022-03-02 14:20] Extend-Apps commented on #544
[2022-03-02T14_17_23_327Z-debug-0.log](https://github.com/oracle/netsuite-suitecloud-sdk/files/8170120/2022-03-02T14_17_23_327Z-debug-0.log)

[2022-03-02 15:15] 13uan commented on #544
Same issue on Windows 10.

Windows 10 Pro
node v16.13.2
npm 8.1.2

[2022-03-01T23_17_33_234Z-debug.log](https://github.com/oracle/netsuite-suitecloud-sdk/files/8170564/2022-03-01T23_17_33_234Z-debug.log)

[2022-03-03 18:35] AlexOlmoz commented on #500
Hi @LegitimatePassion, I have the same issue, maybe I'm doing the same mistake, can you explain me a little bit how do you solve this?

[2022-03-03 21:25] Godrules500 opened #551 "Ability to compare file with account"
Are there any plans in adding the option to compare the local file to the account file within VSCODE?

[2022-03-12 14:16] arook commented on #544
same issue.
anyone resolved?

[2022-03-12 14:18] Extend-Apps commented on #544
No, I reverted to 1.3.2 and will wait for the next update.

On Sat, Mar 12, 2022, 9:16 AM arook ***@***.***> wrote:

[2022-03-12 15:30] Syedali92 commented on #544
@arook If you switch to node 14 (which will have npm 6.x), This will solve the issue.

[2022-03-12 16:41] alii-gator commented on #544
@arook You can solve this by using node 14 LTS (npm 6.x)

[2022-03-12 16:53] Extend-Apps commented on #544
@alii-gator , right.  All due respect, those supported versions are **2** major versions behind.  The current node is 16.14 and the current npm is 8.5.3.  Curious as to why suitecloud chooses to be so far behind?

[2022-03-12 21:03] alii-gator commented on #544
We understand your concern. Node 14 is also LTS.
In Node 16 there are some changes made which are not backwards compatible. So we are making changes on our end to support node 16 officially. And there are some reported issues with npm 8 which affect some of our users. Rest assured we are making changes on our end to resolve this Asap.

[2022-03-15 14:53] courchef commented on #490
Having to deal with frequent sandbox refresh, I need to re-create new access token and new authentication IDs on a monthly basis. This edit/delete ability would be really handy!

In the meantime, I found that the credentials are stored in the file `%USERPROFILE%\.suitecloud-sdk\credentials` on the Windows platform. Deleting the file and recreating new authentication IDs for production and sandbox

[2022-03-16 22:23] alii-gator commented on #542
This is by design and default authids are set per project.
User can set default account in project.json which doesn't need to be changed whenever you deploy.
What's your suggestion or desired flow?

[2022-03-16 22:27] alii-gator commented on #509
Thanks for this.
We will look into it.

[2022-03-16 22:28] alii-gator commented on #490
This is WIP.

[2022-03-16 22:30] alii-gator commented on #486
This should be fixed in latest.
@faiwudevse can you please confirm?

[2022-03-16 22:32] alii-gator commented on #530
Currently this feature is not available in VSCode extension.

[2022-03-16 22:37] alii-gator commented on #503
This is not a bug. The pop-up just informs that the command execution has finished successfully. See details for more information.
But I understand this can be misleading. We will see if this can be enhanced.

[2022-03-17 13:28] mtoniato commented on #542
Thanks Mohammed for your response.
The focus of my issue is not related to the DEFAULT auth ids but rather to the LIST of the available auth ids.
Tipically for each project I'll have two auth ids (one for production, one for sandbox) and I'll change the default depending on the needs.

What in my opinion is very risky is the possibility to choose the default id among all the ids, including those a

[2022-03-18 13:06] dylbarne commented on #551
https://github.com/oracle/netsuite-suitecloud-sdk/blob/feature/vs-code/file-diff/packages/vscode-extension/src/commands/CompareFile.ts  ?
I would definitely like to see this enhancement/feature released as well :)

frequently I find it useful to do a quick comparison of what exists in local file storage vs NetSuite account fileCabinet

[2022-03-20 20:14] faiwudevse commented on #486
@alii-gator Thanks the latest update work.

[2022-03-20 20:14] #486 closed

[2022-03-29 01:20] patricklee-cnb commented on #551
definitely on board with this enhancement request

[2022-03-31 17:25] mtoniato commented on #542
Thanks Mohammed for your response.
The focus of my issue does not concern the default auth ids but the list of the available auth ids.
Tipically I'll have one project and two auth ids (one for production, one for sandbox) and change the default depending on the needs.

What in my opinion is very risky is to choose the default id among all the ids, including those accounts that are not related with

[2022-04-05 10:06] alii-gator commented on #542
@mtoniato This is very unique concern. Usually the authids should be descriptive enough to identify the account name etc.
But I understand the concern, But this will require some more investigation because these credentials are not just used in VSCode but all the tools in SuiteCloud ecosystem (Suitecloud plugin for WebStorm, SDF CLI, SuiteCloud cli for NodeJS etc).

So we will wait for more cases

[2022-04-19 08:19] alii-gator commented on #544
@Extend-Apps Can you try with the latest version `1.5.0`
This should be fixed. Feel free to open this issue if you have any problems.

[2022-04-19 08:22] alii-gator commented on #544
@arook @wmadruga please check with `1.5.0`

[2022-04-19 08:25] alii-gator commented on #536
@gillyspy I am afraid we can't investigate or fix this here. Please contact NS support for this issue so they can assign it to relevant team.

[2022-04-19 08:25] #536 closed

[2022-04-19 08:47] rohitsharma11607471 commented on #551
Would love to work on this feature :)

[2022-04-25 19:45] eklonsousa commented on #420
Is there any way to install the JAR file manually? The same behavior with 1.5.0 version:
![image](https://user-images.githubusercontent.com/45145781/165162686-96c26e26-9a8e-46bb-a415-a348a4722fe8.png)

[2022-04-30 19:11] ShawnTalbert commented on #542
I agree the account list should be (at least optionally) a _project-specific_ list.

[2022-04-30 19:18] ShawnTalbert opened #574 "Cannot complete browser-based account setup (VSCode + WSL)"
### Your environment
**OS** :  Windows 10, Ubuntu 20 in WSL2.
**Node.js version** : e.g. 16.13.1
**suitecloud-cli version** : 1.3.2
**Terminal/CMD tool** :  WSL in VSCode

### Describe the bug
Using VSCode + WSL, trying to add a new account via browser session goes nowhere. It seems like it's trying to launch the browser in WSL which won't work (no GUI)

### To Reproduce
Steps to reproduce the beh

[2022-05-04 21:48] svs71180 opened #575 "Error validating publish dashboard object"
### Your environment
**OS** : iOS Monterey 12.3.1
**Node.js version** : 17.4.0
**suitecloud-cli version** : 1.5.0
**Terminal/CMD tool** : VSCodeTerminal

### Describe the bug
Trying to validate a custom publish dashboard object is resulting in the following errors

An error occurred during custom object validation. (custpubdashboard_vmm_dashboard)
Details: The object field defaultgeneraltype must

[2022-05-06 14:39] alii-gator commented on #574
@ShawnTalbert We don't support WSL officially.
I think WSL doesn't support browser by default. You can check some solutions to use browser in WSL mentioned in this [article ](https://superuser.com/questions/1262977/open-browser-in-host-system-from-windows-subsystem-for-linux)

[2022-05-12 10:08] UsmanMajied17 opened #578 "Invalid Login error | Invalid Credentials"
### Your environment
**OS** : Windows 10
**Node.js version** : e.g. 14.18
**suitecloud-cli version** : 1.5.0
**Terminal/CMD tool** :  PowerShell

### Describe the bug
Creating authentication key via browser-based authentication fails by producing the error, 'Invalid Login Attempt'. Also, no suitecloud command is working on my system ( it used to work a week before)
Following is the error i am gett

[2022-05-16 16:12] aaron-ao-labs opened #579 "Import Custom Role and Custom Record Type Validation Error "Permission Mismatch""
### Your environment
**OS** : Windows 10
**Node.js version** : 16.15.0
**suitecloud-cli version** : 1.5.0
**Terminal/CMD tool** : cmd.exe

### Describe the bug
When a Custom Role and Custom Record Type are imported via the `suitecloud object:import -i` command and then validated via `suitecloud project:validate`, an error is thrown that there is a permission mismatch. Even though, access to the re

[2022-05-16 16:35] #574 closed

[2022-05-16 20:38] ShawnTalbert commented on #574
I don't see why WSL should be involved here?

 If webstorm is running in windows, can it not launch a windows browser?

[2022-05-18 05:29] UsmanMajied17 commented on #578
Already enabled

[2022-05-18 05:33] UsmanMajied17 commented on #578
The issue was the time on my machine was behind the standard time of the region i live in. So the authentication was failing due to time-sync issue.
so make sure to sync your machine time.
You can use the following command to sync your machine time:
net time /set

[2022-05-18 05:33] #578 closed

[2022-05-27 13:17] Rvice commented on #420
I have the same issue and it was working on 1.2 and possibly 1.4. Is there a regression here?

[2022-05-27 13:21] eklonsousa commented on #420
@Rvice , try to use "sudo" before any command line.

[2022-05-27 13:45] Rvice opened #580 "No JAR file in our CLI for Node.js"
### Your environment
**OS** : Ubuntu 20.04.2 LTS
**Node.js version** : 14.17.4
**suitecloud-cli version** : 1.5.0
**Terminal/CMD tool** : Bash

### Describe the bug
With previous versions our CI TeamCity would perform account setup without issues. Now, the following error is received:
There is no JAR file in your CLI for Node.js. Run "npm install" from "/home/me/.nvm/versions/node/v14.17.4/lib/nod

[2022-05-27 18:11] eklonsousa commented on #580
Same behavior here without  ` sudo` command before `suitecloud`...

[2022-06-01 10:51] Rvice commented on #420
I am using another user and I sudo into that user. We cannot elevate that user as it's part of our CI and deploy process. I did open  given this ticket is still closed
https://github.com/oracle/netsuite-suitecloud-sdk/issues/580

[2022-07-05 16:41] manueltoniato opened #590 "Deploy timeout"
### Your environment
**OS** : Windows 10
**Node.js version** : v16.14.0
**suitecloud-cli version** : 1.4.0 (why is it different from the version exposed by npm, i.e. 1.5.0)?
**Terminal/CMD tool** :  Ubuntu WSL

### Describe the bug
Even for small number of objects (forms, fields, templates), i.e. 40, the deploy operation takes more than 10 minutes and stops for timeout reasons. This is the content

[2022-07-05 16:49] manueltoniato opened #591 "Sync reports and searches with SDF"
Last week I converted a Suitebundle in a SDF zip files.
The suitebundle contained saved searches and reports but when I tried to deploy that project I got validation problems and there was no way to get it to work.
![image](https://user-images.githubusercontent.com/822474/177377347-0c15577b-af14-4ae6-a178-06734d79ef82.png)
I thinks that, as Suitebundler did, SDF should also allow to sync and deplo

[2022-07-07 13:41] tourajvaziri commented on #590
Hello!
It's possible to timeout even with smaller projects since although there's only 40 objects mentioned by the client, custom form and custom record are heavy objects.  For example, one custom record can have many custom fields inside and up to 1000 instance entries.  If you consider the time and operation for each instance entry alone, it would take some time.  Although it times out on the de

[2022-07-26 19:33] ericgrubaughcompass opened #595 "[Request] Add a --silent or similar switch to CLI commands"
When running CLI commands like `project:deploy`, I would like to have a `--silent` or similar flag which would reduce the command's log output such that only errors are displayed.

This increased control over log output content would be immensely useful in reducing the size and clutter of CLI command output, particularly when executing from a continuous integration environment.

[2022-07-27 12:04] colivares82 commented on #595
This is a good addition Eric,  thanks for the suggestion 👍

[2022-08-24 22:47] ericgrubaughcompass commented on #595
As a workaround in the meantime, we pipe the stdout of our `project:deploy` commands to `null`:
[code]

[2022-09-06 21:08] sberlan-odeko commented on #341
One year later, this is somehow still an issue?
- [suitecloud.js](../blob/master/packages/node-cli/src/suitecloud.js) is not marked executable (requiring the user to manually `chmod +x` the package entry point)
- [suitecloud.js](../blob/master/packages/node-cli/src/suitecloud.js) has dos line endings causing it to fail to run for linux and mac users (requiring the user to `dos2unix` the package en

[2022-09-09 15:18] alii-gator commented on #580
@eklonsousa Are you still getting this issue?

[2022-09-14 09:55] kostiato opened #613 "SuiteCloud: Compare with Account files VSCode extension command error"
I get _Invalid option "-allowforsuiteapps"._ while trying to execute this new command.
What are the requirements for using it. I can not find any documentation about this useful functionality.

[2022-09-14 10:17] kostiato commented on #613
@karl-anthony-ng yes)

[2022-09-14 12:05] tourajvaziri commented on #613
Hi @kostiato,
Which OS are you using? and what type of project is it? SUITEAPP or ACCOUNTCUSTOMIZATION? Also, can you please share a screenshot of where the error is happening in vscode?

[2022-09-14 12:06] alii-gator commented on #613
@kostiato Apart from the information requested above, can you please try to uninstall the plugin and install it again?

[2022-09-14 12:41] kostiato commented on #613
@alii-gator uninstalled, restarted VS Code, installed, restarted VS Code again
![image](https://user-images.githubusercontent.com/30745425/190155788-c57fe9ef-e5ee-4f6e-b723-021939039767.png)
Right click on any file from File Cabinet and select 'Compare with Account file' or select the same command from Command Palette with active file opened from the project displays error in SuiteCloud ouput ^^^

[2022-09-14 15:50] dylbarne commented on #613
I am experiencing the same issue.

maybe needs newer version of SuiteCloud CLI for Java cli-2022.2.0.jar to be released?
doesn't seem like is recognizing as valid cli command option when tries to import file for compare
https://github.com/oracle/netsuite-suitecloud-sdk/blob/release/22.2/packages/node-cli/src/commands/file/import/ImportFilesAction.js

executing adhoc command `sdfcli importfiles -al

[2022-09-14 19:02] shannonmccleary-ihm commented on #580
We are getting this with the latest CLI version `1.6.0` on Windows. I have 4 new devs at a standstill while the devs coding in repos that use `1.0.4` are not impacted. Bout to open a ticket with NS.

We have gone thru disabling proxies, checking certs and CAs, admin vs non-admin, new machine w/ fresh node.js vs old machine w/ node.js, re-installing node and cant get past this missing JAR error and

[2022-09-14 20:00] alii-gator commented on #580
@shannonmccleary-ihm What error are you getting?
Not that `1.6.0` requires java 17?
Can you confirm that Devs having issue have java 17 installed?
If not, please install 17 and then try installing `npm i @oracle/suitecloud-cli`

[2022-09-14 20:11] alii-gator commented on #613
@dylbarne @kostiato

Please be sure to have java 17 installed on your machine and then install the plugin again!

[2022-09-14 20:25] dylbarne commented on #613
I tried uninstalling/reinstalling the vscode extension, didn't seem to affect things

running `java -version` gives me back:
_java version "17.0.4.1" 2022-08-18 LTS
Java(TM) SE Runtime Environment (build 17.0.4.1+1-LTS-2)
Java HotSpot(TM) 64-Bit Server VM (build 17.0.4.1+1-LTS-2, mixed mode, sharing)_

[2022-09-14 21:01] Jodaviro commented on #613
I have the same error.
I updated java to version 17, tried uninstalling/reinstalling the vscode extension.  I can use all of the commands except by the new "SuiteCloud: Compare with Account files".

[2022-09-14 21:42] thiagopias commented on #613
I am just having this issues now. it started this afternoon.

![Screen Shot 2022-09-14 at 18 16 21](https://user-images.githubusercontent.com/29020490/190267962-be168ecd-568d-4825-bbe3-555a84526db2.png)
![Screen Shot 2022-09-14 at 18 16 06](https://user-images.githubusercontent.com/29020490/190267981-dfce8c72-558a-40df-9ae8-264bac5230e8.png)

[2022-09-15 15:37] shannonmccleary-ihm commented on #580
@alii-gator we started from scratch on the new machines and also performed the tasks below but still getting the same errors. Any tips would be greatly appreciated
- removed all node_modules in Roaming and in the local sourcecode folder
- installed JDK 17
- installed using `npm i @oracle/suitecloud-cli` instead of `npm i @oracle/suitecloud-cli@1.0.4`

**Java Version**
[code]

**Tail of Node Error

[2022-09-15 21:07] shannonmccleary-ihm commented on #580
@Rvice Yes we tried that as well. This is for a manual install on a new windows laptop

[2022-09-16 09:42] alii-gator commented on #580
@shannonmccleary-ihm
Ok lets check few more things.
Can you please check that node 16 LTS is installed.
Can you try installation with global flag?
npm install -g @oracle/suitecloud-cli

[2022-09-16 13:51] shannonmccleary-ihm commented on #580
@alii-gator Indeed, we have tried global and non-global variations of the install command. We have also tried installing it locally in the project by adding it to `package.json` and running `npm install`. Node is v16 LTS and JDK is v17
[code]
We have our support team checking if the `unable to get local issuer certificate` may be due to a proxy/firewall caused by corp firewall software on these ne

[2022-09-16 13:53] shannonmccleary-ihm commented on #580
@alii-gator yes we can install other modules without any issues

[2022-09-16 14:21] alii-gator commented on #580
@shannonmccleary-ihm Ok, I think its an issue on your machine. Hopefully you can fix this.
just an FYI:
https://stackoverflow.com/questions/36494336/npm-install-error-unable-to-get-local-issuer-certificate

[2022-09-16 15:15] thiagopias commented on #613
Thank you . I appreciate that.
After I have those errors I realized I need update my java to version 17
for the plugin's new version.
Well I, could work around upgrading to the previous version of the plugin.
In the near feature, I'll trying the new version as it brings new
interesting features.
Thanks once again for your help.

On Fri, Sep 16, 2022, 11:01 AM Syed Mohammad Ali ***@***.***>
wrote:

[2022-09-16 15:30] shannonmccleary-ihm commented on #580
@alii-gator  @Rvice Great news! There were indeed some proxy issues with ZScaler, installed in all new machines. We got it resolved with our support and was able to install the module with no errors after they added some rules and "magic". Thank you again for tips! You guys rock

[2022-09-16 19:16] Jodaviro commented on #613
Thank you. 1.3.1 solved the error.

[2022-09-16 19:39] #613 closed

[2022-09-16 19:40] #580 closed

[2022-09-16 19:41] alii-gator commented on #551
Newest version 1.3.1 has this functionality.

[2022-09-16 19:41] #551 closed

[2022-09-16 19:44] alii-gator commented on #490
Newest version `1.3.1` has this functionality.

[2022-09-16 19:44] #490 closed

[2022-09-19 07:00] GabrielGorta opened #622 "Before executing any SuiteCloud command, SuiteCloud SDK dependencies need to be validated. Try again in a few seconds."
### Your environment
**OS** : Windows 11
**Node.js version** : 18.6.0
**suitecloud-cli version** : 1.5.0
**VSCode version**: 1.71.2
**Terminal/CMD tool** : PowerShell/VSCodeTerminal
**Extension version**: 1.3.1

### Describe the bug
At file upload I get error:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. In some file, press CTRL+SHIFT+U or use F1 and select SuiteCloud Upload File

[2022-09-19 16:35] Rvice commented on #580
FYI, still having the issue with Java 17, but still not on node 16. Node 14. When I can get a chance to update our CI/CD to 16 I'll test again.

Just tried 1.6.1 on Linux. Note, Windows works fine.

[2022-09-20 13:25] Elroban85 commented on #622
I just encountered the same and tried to revert back to 1.3.0
Didn't solve my issue but I did encounter a message saying my Java JDK was outdated. After updating this, and reloading VS Code, the extension functions were working again.

[2022-09-20 13:30] alii-gator commented on #622
@GabrielGorta Can you confirm if you have java 17 LTS installed?

[2022-09-21 07:02] GabrielGorta commented on #622
After installing Java 17, it works fine.... but what a error message. It could say "update Java".

[2022-09-21 08:15] #622 closed

[2022-09-27 12:07] alii-gator commented on #590
@manueltoniato Are you still facing this issue?

[2022-09-29 02:41] ben-evangtech opened #625 "Displays garbled characters when including Japanese"
When I bind a user or import files, Japanese text is displayed as garbled characters. cause me to not be able to import files.
like this :
![1](https://user-images.githubusercontent.com/104549234/192926177-0f7721d4-f6f9-40be-9add-f0cfe133b6a4.png)
![2](https://user-images.githubusercontent.com/104549234/192926188-6e0c8c44-137f-4fef-8dc4-40f8f91cb3bc.png)

How can I configure it so that it doesn't

[2022-09-30 15:53] bfirth-r7 commented on #579
is there any update on this?

[2022-09-30 16:46] cmccannbrite opened #627 "Error:: Access Denied when deploying project"
### Your environment
**OS** : Windows 11 / WSL2 Ubuntu 22.04.1
**Node.js version** : 16.14.0
**suitecloud-cli version** : 1.6.1
**Terminal/CMD tool** : WSL / ZSH

### Describe the bug
Getting the following error when trying to deploy project:

[code]

### To Reproduce
Steps to reproduce the behavior:
1. Run suitecloud project:deploy --dryrun or suitecloud project:deploy -i

### Actual Behavior

[c

[2022-09-30 19:02] shopisto opened #628 "Constant Re-upload/update of Objects and Images"
### Your environment
**OS** : macOS Monterey 12.6
**Node.js version** : v16.16.0
**suitecloud-cli version** : 1.6.1
**Terminal/CMD tool** : VS Code Terminal

### Describe the bug
When running suitecloud project:deploy, the tool will only deploy script files which have differences with the source account, which is great.

However, it seems like objects are always updated regardless if there are no

[2022-10-05 14:38] cmccannbrite commented on #627
That seems to have fixed the issue.  Is this a known issue that I have overlooked?  Is there a setting to stop the project from creating that file in the first place?

Thanks for the help on this!

[2022-10-06 19:45] cartylorenzo commented on #183
I hate to be that guy, but @erikaschua or @ShawnTalbert were either of you or your networks able to resolve this issue? Thank you in advance!

[2022-10-06 19:53] alii-gator commented on #183
@ShawnTalbert
This issue is not with the tool itself, The issues with server side validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:53] #183 closed

[2022-10-06 19:53] alii-gator commented on #591
This issue is not with the tool itself, The issues with server side validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:53] #591 closed

[2022-10-06 19:54] alii-gator commented on #579
This issue is not with the tool itself, The issues with server side validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:54] #579 closed

[2022-10-06 19:54] alii-gator commented on #480
This issue is not with the tool itself, The issues with server side issues/validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:54] #480 closed

[2022-10-06 19:55] alii-gator commented on #173
This issue is not with the tool itself, The issues with server side issues/validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:55] #173 closed

[2022-10-06 19:56] alii-gator commented on #181
This issue is not with the tool itself, The issues with server side issues/validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:56] #181 closed

[2022-10-06 19:57] alii-gator commented on #174
This issue is not with the tool itself, The issues with server side issues/validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:57] #174 closed

[2022-10-06 19:57] alii-gator commented on #144
This issue is not with the tool itself, The issues with server side issues/validations etc have to be reported to Netsuite support.
This is not a problem with the CLI itself. Its the response coming from Netsuite SDF.

Please open a ticket with NS Support.

[2022-10-06 19:57] #144 closed

[2022-10-07 17:16] tourajvaziri commented on #519
Hi @gillyspy ,
Thanks for reporting this. We will investigate this when we can and get back to you.

[2022-10-11 08:40] thiagopias commented on #613
Thank you for your response!

On Thu, Sep 15, 2022, 10:38 AM Syed Mohammad Ali ***@***.***>
wrote:

[2022-10-13 07:56] tourajvaziri commented on #391
Thanks @Rvice. Is this still an issue?

[2022-10-20 08:50] philip-denys commented on #363
When uploading I get the same error

[code]

[2022-10-21 13:54] alii-gator commented on #627
We will check if we can remove that folder, But for now you are not blocked. So will close this issue.

[2022-10-21 13:54] #627 closed

[2022-10-26 13:24] ericgrubaughcompass commented on #595
We've found this output redirection actually does not work because any error messages printed by the `suitecloud` command are printed to STDOUT instead of STDERR, so they get muted by the redirection as well.

[2022-10-26 13:43] ericgrubaughcompass opened #645 "project:deploy command uses User's Time Zone to set scheduling components"
### Your environments
**OS** : Local Ubuntu 20.04 and CircleCI Ubuntu 22.04
**Node.js version** : 18.8.0 in both
**suitecloud-cli version** : 1.6.2 in both
**Terminal/CMD tool** : Ubuntu bash shell in both

### Describe the bug
When executing the `project:deploy` command on an Object with a scheduling component (e.g. a Map/Reduce Script Deployment or a Scheduled Script Deployment), any times withi

[2022-10-26 17:17] ericgrubaughcompass opened #646 "Inactive Roles do not trigger failures during project:validate or project:deploy --dryrun"
### Your environment
**OS** : Ubuntu 22.04
**Node.js version** : 18.8
**suitecloud-cli version** : 1.6.2
**Terminal/CMD tool** : Bash shell

### Describe the bug
If an SDF project references a Role which has been inactivated, whether the reference is in the manifest or in an Object definition, this will cause the `project:deploy` command to (correctly) fail with an `Invalid Reference` error. Howev

[2022-11-14 20:27] magic-madrigal opened #649 "project:adddependencies doesn't detect a subtab object dependency"
### Your environment
**OS** : Ventura 13.0.1 (22A400)
**Node.js version** : v18.11.0
**suitecloud-cli version** : 1.6.2
**Terminal/CMD tool** : Terminal/iTerm

### Describe the bug
Command `suitecloud project:adddependencies` does not discover an object dependency. This is a transactionbodycustomfield object, and within the subtab element, there is a [scriptid=XXX] that does not get picked up. Thi

[2022-11-14 22:02] jeremyhac opened #650 "Missing selectLine method in stubs/record/RecordInstance mock stub"
### Your environment
**OS** : e.g. iOS Mohave 10.14.6 /Windows 10/Ubuntu 16.04
**Node.js version** : e.g. 12.14.1
**suitecloud-cli version** : Run `suitecloud --version` to check the version
**Terminal/CMD tool** : e.g. PowerShell/WebStormTerminal/VSCodeTerminal/iTerm

### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Run

[2022-11-14 22:04] jeremyhac commented on #650
In the [stubs/record/RecordInstance.js file](https://github.com/oracle/netsuite-suitecloud-sdk/blob/master/packages/unit-testing/stubs/record/RecordInstance.js), there is no reference to the `selectLine` method, meaning we cannot mock this function, even though it should be part of the RecordInstance module.

[2022-11-15 09:52] vic-nik commented on #650
@jeremyhac Thank you for identifying the missing function. The fix is included in the pull request 644.

[2022-11-27 13:38] marwan-nwh opened #653 "The token could not be validated"
### Your environment
**OS** :  Windows 11
**Node.js version** : v18.12.1
**suitecloud-cli version** : 1.6.2
**Terminal/CMD tool** : WSL (through windows terminal)

### Describe the bug
Receiving this error when I try to authenticate SDF.
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Run suitecloud account:setup -i

Note that I am sure that all the data is correct. And TOKEN-BASED AU

[2022-11-27 13:55] marwan-nwh commented on #653
Note also that it works with my teammates who use windows, but don't use WSL.

[2022-11-28 13:51] antoniofruci commented on #653
Hello @marwan-nwh,
node version 18 is not supported yet, can you please try using node 16 and see if it solves your problem?
Also note that we don't offer official support for WSL either.

[2022-11-29 08:15] PetOnion commented on #183
I have the same issue and I found that only NONE and FULL are allowed for ADMI_ACCOUNTING.

Permission Names and IDs
https://suiteanswers.custhelp.com/app/answers/detail/a_id/10521/

### Actual Behavior
[code]

An error occurred during custom object update.
Details: Invalid permlevel4 reference key 3 for permkey4 ADMI_ACCOUNTING.
File: ~/Objects/customrole1018.xml
Object: customrole1018 (role)

##